@charset "UTF-8";
/* portfolio2.css */
/* 로딩 */
.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(40, 44, 55, 0.7);
  z-index: 9999;
  opacity: 1;
  transition: 0.5s ease;
}

.loadImg {
  border: 16px solid #f3f3f3;
  /* Light grey */
  border-top: 16px solid #2B90D9;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  position: absolute;
  top: 50%;
  left: 48%;
  margin: -40px 0 0 -40px;
  color: #fff;
}

@keyframes spin {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

/* 전체 레이아웃 설정 */
#wrap {
  width: 100%;
  height: auto;
  min-height: 800px;
  margin: auto;
  background-color: #fff;
  padding: 10px 162px;
  /* #header */
  /* navigation */
  /* #slide_menu ------------------------------ */
  /* hamburger menu icon 첫번째 줄 */
  /* hamburger menu icon 두번째 줄 */
  /* hamburger menu icon 세번째 줄 */
  /* #slide_menu 내부 ------------------------------ */
}

@media all and (max-width: 679px) {
  #wrap {
    padding: 10px;
  }
}

@media all and (min-width: 680px) and (max-width: 1279px) {
  #wrap {
    padding: 10px 34px;
  }
}

@media all and (min-width: 1280px) and (max-width: 1439px) {
  #wrap {
    padding: 10px 100px;
  }
}

#wrap #headBox {
  width: 100%;
  height: auto;
  position: sticky;
  top: 0;
  box-sizing: border-box;
  z-index: 1000;
}

#wrap .headinner {
  width: 100%;
  height: 100%;
  margin: auto;
  box-sizing: border-box;
  display: flex;
  /* logo */
}

#wrap .headinner h1 {
  width: 94%;
  height: 100%;
}

@media all and (max-width: 679px) {
  #wrap .headinner h1 {
    width: 80%;
  }
}

#wrap .headinner h1 button {
  width: 100%;
  height: 100%;
  margin: auto;
  color: #2B90D9;
  font-family: "Montserrat", "noto sans KR";
  font-size: 20px;
  font-weight: 600;
  text-align: left;
  text-transform: uppercase;
  letter-spacing: 0.7em;
}

@media all and (max-width: 679px) {
  #wrap .headinner h1 button {
    font-size: 15px;
  }
}

#wrap .unb {
  width: 6%;
  height: 52px;
  margin: auto;
  padding-top: 20px;
}

@media all and (max-width: 679px) {
  #wrap .unb {
    width: 20%;
    height: 45px;
    padding-top: 12px;
  }
}

#wrap #check_box {
  display: none;
}

#wrap #check_box + label {
  width: 40px;
  height: 64%;
  margin: auto;
  display: block;
  position: relative;
  z-index: 100;
  cursor: pointer;
}

@media all and (max-width: 679px) {
  #wrap #check_box + label {
    width: 30px;
    margin: auto 0 0 30px;
  }
}

#wrap #check_box + label > span {
  width: 100%;
  height: 2px;
  display: block;
  position: absolute;
  transition: all 300ms;
  border-radius: 5px;
  background: #000;
}

@media all and (max-width: 679px) {
  #wrap #check_box + label > span {
    height: 1.5px;
  }
}

#wrap :checked + label > span:nth-child(1) {
  top: 50%;
  transform: translate(0, -50%);
  transform: rotate(45deg);
  background-color: #fff;
}

#wrap #check_box + label > span:nth-child(2) {
  top: 50%;
  transform: translate(0, -50%);
}

#wrap :checked + label > span:nth-child(2) {
  opacity: 0;
}

#wrap #check_box + label > span:nth-child(3) {
  bottom: 0;
}

#wrap :checked + label > span:nth-child(3) {
  top: 50%;
  transform: translate(0, -50%);
  transform: rotate(-45deg);
  background-color: #fff;
}

#wrap #check_box:checked + label + #slide_menu {
  left: 50%;
}

@media all and (max-width: 679px) {
  #wrap #check_box:checked + label + #slide_menu {
    left: 0%;
  }
}

#wrap #slide_menu {
  width: 100%;
  height: 100%;
  padding: 80px 16px 70px 16px;
  position: fixed;
  top: 0px;
  left: 100%;
  overflow: auto;
  transition: all 300ms;
  box-sizing: border-box;
  text-transform: uppercase;
  z-index: 1;
  background-color: rgba(43, 144, 217, 0.9);
}

#wrap input[id*="slide_btn"] {
  display: none;
}

#wrap input[id*="slide_btn"] + label {
  width: auto;
  display: block;
  padding: 20px;
  position: relative;
  border-bottom: 1px solid #fff;
  font-family: "Montserrat", "noto sans KR";
  font-size: 15px;
  font-weight: 500;
  color: #fff;
  letter-spacing: 0.3em;
  cursor: pointer;
}

@media all and (max-width: 679px) {
  #wrap input[id*="slide_btn"] + label {
    font-size: 14px;
  }
}

#wrap input[id*="slide_btn"] + label a {
  display: block;
  width: 100%;
  height: 30px;
  line-height: 30px;
}

#wrap input[id*="slide_btn"] + label:hover {
  background-color: #fff;
  color: #000;
  font-weight: 500;
}

main {
  /* #home */
  /* #about */
  /* #banner */
  /* #advantage */
  /* #skill */
  /* #project */
  /* #clone */
  /* #contact */
}

main #home {
  width: 100%;
  height: 95vh;
  margin: auto;
  padding: 83px 0 145px 0;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  /* 이름 */
  /* 인물사진 */
  /* 한줄소개 */
}

@media all and (max-width: 679px) {
  main #home {
    gap: 10px;
    flex-wrap: wrap;
    padding: 83px 0 100px 0;
  }
}

main #home h2 {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.7em;
  text-transform: uppercase;
  text-align: center;
}

@media all and (max-width: 679px) {
  main #home h2 {
    width: 100%;
    font-size: 15px;
  }
}

@media all and (min-width: 680px) and (max-width: 1279px) {
  main #home h2 {
    font-size: 15px;
  }
}

@media all and (min-width: 1920px) {
  main #home h2 {
    font-size: 24px;
  }
}

main #home img {
  display: block;
  margin: auto;
  width: 21.8056%;
}

@media all and (max-width: 679px) {
  main #home img {
    width: 49%;
  }
}

main #home p {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.3em;
  text-align: center;
  /* 강조컬러 */
}

@media all and (max-width: 679px) {
  main #home p {
    width: 100%;
    font-size: 15px;
  }
}

@media all and (min-width: 680px) and (max-width: 1279px) {
  main #home p {
    font-size: 15px;
  }
}

@media all and (min-width: 1920px) {
  main #home p {
    font-size: 24px;
  }
}

main #home p span {
  color: #2B90D9;
}

main #about {
  width: 100%;
  height: auto;
  padding: 50px 0;
  /* 각종 관련 사이트 이동 버튼 */
}

main #about h3 {
  width: 100%;
  margin-top: 50px;
  margin-bottom: 80px;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 0.3em;
  text-align: center;
  color: #2B90D9;
}

@media all and (max-width: 679px) {
  main #about h3 {
    margin: auto;
    margin-top: 20px;
    margin-bottom: 50px;
    font-size: 25px;
    text-align: center;
  }
}

@media all and (min-width: 680px) and (max-width: 1279px) {
  main #about h3 {
    font-size: 25px;
  }
}

@media all and (min-width: 1920px) {
  main #about h3 {
    font-size: 35px;
  }
}

main #about .about_inner {
  display: flex;
  flex-wrap: nowrap;
}

@media all and (max-width: 679px) {
  main #about .about_inner {
    flex-wrap: wrap;
  }
}

main #about .about_left {
  width: 48%;
  height: auto;
  margin-right: 12%;
  display: flex;
  flex-wrap: wrap;
  /* 한줄소개 */
  /* 자기소개 */
}

@media all and (max-width: 679px) {
  main #about .about_left {
    width: 100%;
    margin-right: 0;
  }
}

@media all and (min-width: 680px) and (max-width: 1279px) {
  main #about .about_left {
    width: 54%;
    margin-right: 6%;
  }
}

main #about .about_left .aspiration {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}

@media all and (min-width: 680px) and (max-width: 1279px) {
  main #about .about_left .aspiration {
    margin-bottom: 10px;
  }
}

main #about .about_left .aspiration p {
  width: 100%;
  font-size: 20px;
  font-weight: 500;
  color: #2B90D9;
  letter-spacing: 0.1em;
}

@media all and (max-width: 679px) {
  main #about .about_left .aspiration p {
    font-size: 15px;
  }
}

@media all and (min-width: 680px) and (max-width: 1279px) {
  main #about .about_left .aspiration p {
    font-size: 15px;
  }
}

@media all and (min-width: 1920px) {
  main #about .about_left .aspiration p {
    font-size: 24px;
  }
}

main #about .about_left .introduce {
  width: 100%;
}

main #about .about_left span {
  font-size: 15px;
  font-weight: 400;
  color: #000;
  letter-spacing: 0.1em;
}

@media all and (max-width: 679px) {
  main #about .about_left span {
    font-size: 14px;
  }
}

@media all and (min-width: 680px) and (max-width: 1279px) {
  main #about .about_left span {
    font-size: 14px;
  }
}

@media all and (min-width: 1920px) {
  main #about .about_left span {
    font-size: 17px;
  }
}

@media all and (max-width: 679px) {
  main #about .about_right_inner {
    flex-wrap: wrap-reverse;
  }
}

main #about .about_right {
  width: 37%;
  height: auto;
  margin-top: 74px;
  display: flex;
  flex-wrap: wrap;
  /* 이름 기본 소개 */
  /* 학력 */
}

@media all and (max-width: 679px) {
  main #about .about_right {
    width: 100%;
    margin-top: 30px;
  }
}

@media all and (min-width: 680px) and (max-width: 1279px) {
  main #about .about_right {
    margin-top: 41px;
  }
}

main #about .about_right .name {
  width: 100%;
  height: auto;
  /* 강조제목 */
}

main #about .about_right .name p {
  font-size: 15px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0.3em;
  color: #2B90D9;
  /* 내용 */
}

@media all and (max-width: 679px) {
  main #about .about_right .name p {
    font-size: 14px;
  }
}

@media all and (min-width: 1920px) {
  main #about .about_right .name p {
    font-size: 17px;
  }
}

main #about .about_right .name p span {
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0.3em;
  color: #000;
}

@media all and (max-width: 679px) {
  main #about .about_right .name p span {
    font-size: 14px;
  }
}

@media all and (min-width: 680px) and (max-width: 1279px) {
  main #about .about_right .name p span {
    font-size: 14px;
  }
}

@media all and (min-width: 1920px) {
  main #about .about_right .name p span {
    font-size: 17px;
  }
}

main #about .about_right .eduction {
  width: 100%;
  height: auto;
  margin-top: 26px;
  /* 소제목 */
  /* 내용 */
}

@media all and (max-width: 679px) {
  main #about .about_right .eduction {
    margin-top: 20px;
  }
}

@media all and (min-width: 680px) and (max-width: 1279px) {
  main #about .about_right .eduction {
    margin-top: 0;
  }
}

main #about .about_right .eduction span {
  font-size: 20px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0.1em;
  color: #2B90D9;
}

@media all and (max-width: 679px) {
  main #about .about_right .eduction span {
    font-size: 15px;
  }
}

@media all and (min-width: 680px) and (max-width: 1279px) {
  main #about .about_right .eduction span {
    font-size: 15px;
  }
}

@media all and (min-width: 1920px) {
  main #about .about_right .eduction span {
    font-size: 24px;
  }
}

main #about .about_right .eduction p {
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0.1em;
  color: #000;
}

@media all and (max-width: 679px) {
  main #about .about_right .eduction p {
    font-size: 14px;
  }
}

@media all and (min-width: 680px) and (max-width: 1279px) {
  main #about .about_right .eduction p {
    font-size: 14px;
  }
}

@media all and (min-width: 1920px) {
  main #about .about_right .eduction p {
    font-size: 17px;
  }
}

main #about .about_button {
  width: 100%;
  height: 35px;
  margin-top: 26px;
  display: flex;
  line-height: 35px;
  /* 이력서 다운로드 버튼 */
  /* git 이동 버튼 */
  /* 노션 포트폴리오 이동 버튼 */
}

@media all and (max-width: 679px) {
  main #about .about_button {
    width: 90%;
    margin: auto;
    margin-top: 26px;
  }
}

@media all and (min-width: 680px) and (max-width: 1279px) {
  main #about .about_button {
    width: 100%;
    margin-top: 0;
  }
}

main #about .about_button a:nth-child(1) {
  width: 30%;
  height: 100%;
  margin-right: 15px;
  background-color: #2B90D9;
  border-radius: 20px;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 0.1em;
  color: #fff;
  text-align: center;
  line-height: 35px;
  /* 마우스 오버 시 */
}

@media all and (max-width: 679px) {
  main #about .about_button a:nth-child(1) {
    font-size: 14px;
  }
}

@media all and (min-width: 680px) and (max-width: 1279px) {
  main #about .about_button a:nth-child(1) {
    font-size: 14px;
  }
}

@media all and (min-width: 1920px) {
  main #about .about_button a:nth-child(1) {
    font-size: 17px;
  }
}

main #about .about_button a:nth-child(1):hover {
  width: 29.1%;
  height: 31px;
  line-height: 31px;
  color: #000;
  background-color: #fff;
  border: 2px solid #2B90D9;
}

main #about .about_button a:nth-child(2) {
  width: 30%;
  height: 100%;
  margin-right: 15px;
  background-color: #2B90D9;
  border-radius: 20px;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 0.1em;
  color: #fff;
  text-align: center;
  line-height: 35px;
  /* 마우스 오버 시 */
}

@media all and (max-width: 679px) {
  main #about .about_button a:nth-child(2) {
    font-size: 14px;
  }
}

@media all and (min-width: 680px) and (max-width: 1279px) {
  main #about .about_button a:nth-child(2) {
    font-size: 14px;
  }
}

@media all and (min-width: 1920px) {
  main #about .about_button a:nth-child(2) {
    font-size: 17px;
  }
}

main #about .about_button a:nth-child(2):hover {
  width: 29.1%;
  height: 31px;
  line-height: 31px;
  color: #000;
  background-color: #fff;
  border: 2px solid #2B90D9;
}

main #about .about_button a:nth-child(3) {
  width: 30%;
  height: 100%;
  background-color: #2B90D9;
  border-radius: 20px;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 0.1em;
  color: #fff;
  text-align: center;
  line-height: 35px;
  /* 마우스 오버 시 */
}

@media all and (max-width: 679px) {
  main #about .about_button a:nth-child(3) {
    font-size: 14px;
  }
}

@media all and (min-width: 680px) and (max-width: 1279px) {
  main #about .about_button a:nth-child(3) {
    font-size: 14px;
  }
}

@media all and (min-width: 1920px) {
  main #about .about_button a:nth-child(3) {
    font-size: 17px;
  }
}

main #about .about_button a:nth-child(3):hover {
  width: 29.1%;
  height: 31px;
  line-height: 31px;
  color: #000;
  background-color: #fff;
  border: 2px solid #2B90D9;
}

main #banner {
  width: 100%;
  height: auto;
  margin: auto;
  overflow: hidden;
}

@keyframes marquee {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-224%, 0, 0);
  }
}

main #banner p {
  white-space: nowrap;
  will-change: transform;
  animation: marquee 20s linear infinite;
  width: 100%;
  padding: 1rem;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
  font-family: "Montserrat", "noto sans KR", sans-serif;
  font-size: 128px;
  font-weight: 800;
  text-transform: uppercase;
  color: #fff;
  text-shadow: -3px 0 #2B90D9, 0 3px #2B90D9, 3px 0 #2B90D9, 0 -3px #2B90D9;
  letter-spacing: 0.3em;
}

@media all and (max-width: 679px) {
  main #banner p {
    font-size: 80px;
  }
}

@media all and (min-width: 680px) and (max-width: 1279px) {
  main #banner p {
    font-size: 80px;
  }
}

main #banner p:hover {
  animation-play-state: paused;
  /* 마우스 오버 시 멈춤 */
  cursor: default;
}

main #advantage {
  width: 100%;
  height: auto;
  padding: 50px 0;
}

main #advantage .advantage_inner {
  display: flex;
  /* 중간 경계선 */
}

@media all and (max-width: 679px) {
  main #advantage .advantage_inner {
    flex-wrap: wrap;
  }
}

main #advantage .advantage_inner .advantage_left {
  width: 40%;
  height: auto;
  margin-right: 4%;
  /* 소제목 */
  /* 왼쪽 하단 이미지 */
}

@media all and (max-width: 679px) {
  main #advantage .advantage_inner .advantage_left {
    width: 100%;
    margin: auto;
  }
}

main #advantage .advantage_inner .advantage_left h3 {
  margin-top: 20px;
  margin-right: 60px;
  font-size: 30px;
  font-weight: 700;
  text-align: right;
  letter-spacing: 0.1em;
  color: #2B90D9;
}

@media all and (max-width: 679px) {
  main #advantage .advantage_inner .advantage_left h3 {
    margin: auto;
    margin-top: 20px;
    margin-bottom: 50px;
    font-size: 25px;
    text-align: center;
  }
}

@media all and (min-width: 680px) and (max-width: 1279px) {
  main #advantage .advantage_inner .advantage_left h3 {
    font-size: 25px;
  }
}

@media all and (min-width: 1920px) {
  main #advantage .advantage_inner .advantage_left h3 {
    margin: auto 0;
    text-align: center;
    font-size: 35px;
  }
}

main #advantage .advantage_inner .advantage_left .advantage_3d {
  width: 44.804%;
  height: 47.15%;
  margin: 150px;
  background-image: url(../../img/3d_advantage.svg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

@media all and (max-width: 679px) {
  main #advantage .advantage_inner .advantage_left .advantage_3d {
    display: none;
    /* 모바일 화면에선 비노출 */
  }
}

@media all and (min-width: 680px) and (max-width: 1279px) {
  main #advantage .advantage_inner .advantage_left .advantage_3d {
    margin: 190px 90px;
  }
}

@media all and (min-width: 1920px) {
  main #advantage .advantage_inner .advantage_left .advantage_3d {
    margin: 150px auto 0 auto;
  }
}

main #advantage .advantage_inner .advantage_right {
  width: 56%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  /* 내용 */
}

@media all and (max-width: 679px) {
  main #advantage .advantage_inner .advantage_right {
    width: 100%;
  }
}

main #advantage .advantage_inner .advantage_right .Aright_inner {
  margin-top: 20px;
  /* 제목 */
  /* 내용 */
}

main #advantage .advantage_inner .advantage_right .Aright_inner p {
  font-size: 20px;
  font-weight: 700;
  text-transform: capitalize;
}

@media all and (max-width: 679px) {
  main #advantage .advantage_inner .advantage_right .Aright_inner p {
    font-size: 15px;
  }
}

@media all and (min-width: 680px) and (max-width: 1279px) {
  main #advantage .advantage_inner .advantage_right .Aright_inner p {
    font-size: 15px;
  }
}

@media all and (min-width: 1920px) {
  main #advantage .advantage_inner .advantage_right .Aright_inner p {
    font-size: 24px;
  }
}

main #advantage .advantage_inner .advantage_right .Aright_inner span {
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0.1em;
}

@media all and (max-width: 679px) {
  main #advantage .advantage_inner .advantage_right .Aright_inner span {
    font-size: 14px;
  }
}

@media all and (min-width: 680px) and (max-width: 1279px) {
  main #advantage .advantage_inner .advantage_right .Aright_inner span {
    font-size: 14px;
  }
}

@media all and (min-width: 1920px) {
  main #advantage .advantage_inner .advantage_right .Aright_inner span {
    font-size: 17px;
  }
}

main #advantage .advantage_inner::before {
  content: '';
  border: 1px solid #000;
  position: relative;
  left: 39%;
}

@media all and (max-width: 679px) {
  main #advantage .advantage_inner::before {
    display: none;
  }
}

main #skill {
  width: 100%;
  height: auto;
  padding: 50px 0;
}

main #skill h3 {
  width: 100%;
  margin-top: 50px;
  margin-bottom: 80px;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 0.3em;
  text-align: center;
  color: #2B90D9;
}

@media all and (max-width: 679px) {
  main #skill h3 {
    margin: auto;
    margin-top: 20px;
    margin-bottom: 50px;
    font-size: 25px;
    text-align: center;
  }
}

@media all and (min-width: 680px) and (max-width: 1279px) {
  main #skill h3 {
    font-size: 25px;
  }
}

@media all and (min-width: 1920px) {
  main #skill h3 {
    font-size: 35px;
  }
}

main #skill .charts {
  width: 100%;
  display: flex;
  justify-content: center;
  /* 그래프 */
  /* 능력치 설명 */
  /* 빈박스 */
}

@media all and (max-width: 679px) {
  main #skill .charts {
    flex-wrap: wrap;
  }
}

main #skill .charts .chart {
  width: 100%;
  position: relative;
  /* 능력치 */
  /* skill 이미지 */
  /* skill 이미지 크기 설정 */
}

@media all and (max-width: 679px) {
  main #skill .charts .chart {
    width: 100%;
  }
}

main #skill .charts .chart h4 {
  font-size: 15px;
  position: absolute;
  top: 113px;
  left: 75px;
  transform: translate(-50%, -50%);
}

@media all and (max-width: 679px) {
  main #skill .charts .chart h4 {
    font-size: 14px;
    top: 81px;
    left: 55px;
  }
}

@media all and (min-width: 680px) and (max-width: 1279px) {
  main #skill .charts .chart h4 {
    font-size: 14px;
    top: 91px;
    left: 60px;
  }
}

main #skill .charts .chart .svg_img {
  width: 64px;
  height: 64px;
  position: absolute;
  top: 31px;
  left: 42px;
}

@media all and (max-width: 679px) {
  main #skill .charts .chart .svg_img {
    width: 50px;
    height: 50px;
    top: 21px;
    left: 30px;
  }
}

@media all and (min-width: 680px) and (max-width: 1279px) {
  main #skill .charts .chart .svg_img {
    width: 50px;
    height: 50px;
    top: 26px;
    left: 35px;
  }
}

main #skill .charts .chart svg {
  width: 150px;
  height: 150px;
  /* 원형 차트 설정 */
}

@media all and (max-width: 679px) {
  main #skill .charts .chart svg {
    width: 110px;
    height: 110px;
  }
}

@media all and (min-width: 680px) and (max-width: 1279px) {
  main #skill .charts .chart svg {
    width: 120px;
    height: 120px;
  }
}

main #skill .charts .chart svg circle {
  fill: #dedede;
  stroke-width: 15;
  stroke-dasharray: 409;
  stroke-dashoffset: 409;
  animation: line 2s forwards;
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
  stroke-linecap: round;
  cx: 75;
  cy: 75;
  r: 65;
}

@media all and (max-width: 679px) {
  main #skill .charts .chart svg circle {
    stroke-width: 10;
    stroke-dasharray: 315;
    stroke-dashoffset: 315;
    cx: 54;
    cy: 55;
    r: 49;
  }
}

@media all and (min-width: 680px) and (max-width: 1279px) {
  main #skill .charts .chart svg circle {
    stroke-width: 10;
    stroke-dasharray: 325;
    stroke-dashoffset: 325;
    cx: 60;
    cy: 61;
    r: 50;
  }
}

main #skill .charts .chart_inner {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

@media all and (max-width: 679px) {
  main #skill .charts .chart_inner {
    gap: 0;
  }
}

@media all and (min-width: 680px) and (max-width: 1279px) {
  main #skill .charts .chart_inner {
    gap: 0;
  }
}

main #skill .charts .chart {
  width: 26.8%;
  display: flex;
  flex-wrap: wrap;
}

@media all and (max-width: 679px) {
  main #skill .charts .chart {
    width: 36%;
  }
}

@media all and (min-width: 680px) and (max-width: 1279px) {
  main #skill .charts .chart {
    width: 34.8%;
    display: flex;
    flex-wrap: wrap;
  }
}

main #skill .charts .charts_inner1 {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  /* html */
  /* css */
  /* sass */
  /* javascript */
}

@media all and (max-width: 679px) {
  main #skill .charts .charts_inner1 {
    width: 100%;
  }
}

main #skill .charts .charts_inner1 .chart_html {
  stroke: #E34F26;
  stroke-dashoffset: 40;
}

main #skill .charts .charts_inner1 .chart_css {
  stroke: #1572B6;
  stroke-dashoffset: 40;
}

main #skill .charts .charts_inner1 .chart_sass {
  stroke: #CC6699;
  stroke-dashoffset: 120;
}

main #skill .charts .charts_inner1 .chart_javascript {
  stroke: #F7DF1E;
  stroke-dashoffset: 160;
}

main #skill .charts .chart_text {
  width: 70.5%;
  text-align-last: left;
  padding: 20px;
  line-height: 30px;
  /* 각 skill 제목 */
}

@media all and (max-width: 679px) {
  main #skill .charts .chart_text {
    width: 64%;
    padding: 0;
    padding-left: 5px;
    line-height: 20px;
  }
}

@media all and (min-width: 680px) and (max-width: 1279px) {
  main #skill .charts .chart_text {
    width: 65.2%;
    text-align-last: left;
    padding: 10px 0 10px 5px;
  }
}

main #skill .charts .chart_text p {
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0.1em;
}

@media all and (max-width: 679px) {
  main #skill .charts .chart_text p {
    font-size: 14px;
  }
}

@media all and (min-width: 680px) and (max-width: 1279px) {
  main #skill .charts .chart_text p {
    font-size: 14px;
  }
}

@media all and (min-width: 1920px) {
  main #skill .charts .chart_text p {
    font-size: 17px;
  }
}

main #skill .charts .chart_text p:nth-child(1) {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.1em;
  color: #2B90D9;
}

@media all and (max-width: 679px) {
  main #skill .charts .chart_text p:nth-child(1) {
    font-size: 15px;
  }
}

@media all and (min-width: 680px) and (max-width: 1279px) {
  main #skill .charts .chart_text p:nth-child(1) {
    font-size: 15px;
  }
}

@media all and (min-width: 1920px) {
  main #skill .charts .chart_text p:nth-child(1) {
    font-size: 24px;
  }
}

main #skill .charts .charts_inner2 {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  /* figma */
  /* react */
  /* git */
}

@media all and (max-width: 679px) {
  main #skill .charts .charts_inner2 {
    width: 100%;
    margin-top: 30px;
  }
}

main #skill .charts .charts_inner2 .chart_figma {
  stroke: #F24E1E;
  stroke-dashoffset: 80;
}

main #skill .charts .charts_inner2 .chart_react {
  stroke: #61DAFB;
  stroke-dashoffset: 280;
}

main #skill .charts .charts_inner2 .chart_git {
  stroke: #F05032;
  stroke-dashoffset: 120;
}

main #skill .charts .chart_bin {
  width: 78.95%;
  height: 150px;
}

@media all and (max-width: 679px) {
  main #skill .charts .chart_bin {
    height: 0;
  }
}

main #skill .charts .chart_text_bin {
  height: 150px;
  border: 1px solid #fff;
}

@media all and (max-width: 679px) {
  main #skill .charts .chart_text_bin {
    display: none;
  }
}

main #project {
  width: 100%;
  height: auto;
  padding: 50px 0;
  /* 오늘의집 */
  /* 이디야 프로젝트 */
  /* 첫번째 프로젝트 */
  /* 인터랙티브 러닝 */
  /* 두번째 프로젝트 */
}

main #project h3 {
  width: 100%;
  margin-top: 50px;
  margin-bottom: 80px;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 0.3em;
  text-align: center;
  color: #2B90D9;
}

@media all and (max-width: 679px) {
  main #project h3 {
    margin: auto;
    margin-top: 20px;
    margin-bottom: 50px;
    font-size: 25px;
    text-align: center;
  }
}

@media all and (min-width: 680px) and (max-width: 1279px) {
  main #project h3 {
    font-size: 25px;
  }
}

@media all and (min-width: 1920px) {
  main #project h3 {
    font-size: 35px;
  }
}

main #project .project_inner {
  display: flex;
  flex-wrap: wrap;
  /* 프로젝트 이동 버튼 */
}

main #project .project_inner .project_text {
  width: 56%;
  transform: matrix(1, 0, 0, 1, 30, 0);
  /* 프로젝트 제목 */
  /* 해시태그 특징 */
  /* 프로젝트 설명 */
}

@media all and (max-width: 679px) {
  main #project .project_inner .project_text {
    width: 100%;
    margin: 10px auto;
  }
}

@media all and (min-width: 1920px) {
  main #project .project_inner .project_text {
    margin: auto 0;
  }
}

main #project .project_inner .project_text.project {
  opacity: 0;
  transition: all 0.5s;
}

main #project .project_inner .project_text.visible {
  opacity: 1;
  transform: translateX(0);
  transition: all 0.5s;
}

main #project .project_inner .project_text p {
  width: 100%;
  height: auto;
}

main #project .project_inner .project_text :nth-child(1) {
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.3em;
}

@media all and (max-width: 679px) {
  main #project .project_inner .project_text :nth-child(1) {
    font-size: 15px;
  }
}

@media all and (min-width: 680px) and (max-width: 1279px) {
  main #project .project_inner .project_text :nth-child(1) {
    font-size: 15px;
  }
}

@media all and (min-width: 1920px) {
  main #project .project_inner .project_text :nth-child(1) {
    font-size: 24px;
  }
}

main #project .project_inner .project_text :nth-child(2) {
  line-height: 24px;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0.3em;
}

@media all and (max-width: 679px) {
  main #project .project_inner .project_text :nth-child(2) {
    font-size: 14px;
  }
}

@media all and (min-width: 680px) and (max-width: 1279px) {
  main #project .project_inner .project_text :nth-child(2) {
    font-size: 14px;
  }
}

@media all and (min-width: 1920px) {
  main #project .project_inner .project_text :nth-child(2) {
    font-size: 17px;
  }
}

main #project .project_inner .project_text :nth-child(3) {
  margin-top: 15px;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0.1em;
}

@media all and (max-width: 679px) {
  main #project .project_inner .project_text :nth-child(3) {
    font-size: 14px;
  }
}

@media all and (min-width: 680px) and (max-width: 1279px) {
  main #project .project_inner .project_text :nth-child(3) {
    font-size: 14px;
  }
}

@media all and (min-width: 1920px) {
  main #project .project_inner .project_text :nth-child(3) {
    font-size: 17px;
  }
}

main #project .project_inner button {
  width: 86px;
  height: 30px;
  margin-top: 40px;
  font-size: 15px;
  font-weight: 500;
  color: #fff;
  border-radius: 20px;
  background-color: #2B90D9;
}

@media all and (max-width: 679px) {
  main #project .project_inner button {
    position: relative;
    left: 13%;
    margin-top: 10px;
    font-size: 14px;
  }
}

@media all and (min-width: 680px) and (max-width: 1279px) {
  main #project .project_inner button {
    margin-top: 10px;
    font-size: 14px;
  }
}

@media all and (min-width: 1920px) {
  main #project .project_inner button {
    font-size: 17px;
  }
}

main #project .project_inner button:hover {
  color: #000;
  background-color: #fff;
  border: 2px solid #2B90D9;
}

main #project .ohou {
  width: 100%;
  height: 30vh;
  display: flex;
  margin-top: 100px;
  padding: 0 50px;
  margin-top: 0;
  /* 오늘의집 프로젝트 이미지 */
}

@media all and (max-width: 679px) {
  main #project .ohou {
    height: auto;
    flex-wrap: wrap;
    padding: 30px;
  }
}

@media all and (min-width: 680px) and (max-width: 1279px) {
  main #project .ohou {
    height: 27vh;
    padding: 0;
  }
}

@media all and (min-width: 1920px) {
  main #project .ohou {
    height: 40vh;
  }
}

main #project .ohou .device_img {
  width: 34%;
  height: 100%;
  margin: auto;
  margin-right: 110px;
  background-image: url(../../img/ohou_mockup.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  transform: matrix(1, 0, 0, 1, -200, 0);
}

@media all and (max-width: 679px) {
  main #project .ohou .device_img {
    width: 100%;
    height: 35vh;
    margin-right: 0;
  }
}

main #project .ohou .device_img.project {
  opacity: 0;
  text-align: center;
  transition: all 1s;
}

main #project .ohou .device_img.visible {
  opacity: 1;
  transform: translateX(0);
  transition: all 1s;
}

main #project .ediya {
  width: 100%;
  height: 30vh;
  display: flex;
  margin-top: 100px;
  padding: 0 50px;
  /* 이디야 프로젝트 이미지 */
}

@media all and (max-width: 679px) {
  main #project .ediya {
    height: auto;
    flex-wrap: wrap;
    padding: 30px;
  }
}

@media all and (min-width: 680px) and (max-width: 1279px) {
  main #project .ediya {
    height: 27vh;
    margin-top: 50px;
    padding: 0;
  }
}

@media all and (min-width: 1920px) {
  main #project .ediya {
    height: 40vh;
  }
}

main #project .ediya .device_img {
  width: 34%;
  height: 100%;
  margin: auto;
  margin-right: 110px;
  background-image: url(../../img/ediya_mockup.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  transform: matrix(1, 0, 0, 1, -200, 0);
  /* scroll magic */
}

@media all and (max-width: 679px) {
  main #project .ediya .device_img {
    width: 100%;
    height: 35vh;
    margin-right: 0;
  }
}

main #project .ediya .device_img.project {
  opacity: 0;
  text-align: center;
  transition: all 1s;
}

main #project .ediya .device_img.visible {
  opacity: 1;
  transform: translateX(0);
  transition: all 1s;
}

main #project .portfolio1 {
  width: 100%;
  height: 30vh;
  display: flex;
  margin-top: 100px;
  padding: 0 50px;
  /* 첫번째 프로젝트 이미지 */
}

@media all and (max-width: 679px) {
  main #project .portfolio1 {
    height: auto;
    flex-wrap: wrap;
    padding: 30px;
  }
}

@media all and (min-width: 680px) and (max-width: 1279px) {
  main #project .portfolio1 {
    height: 27vh;
    margin-top: 50px;
    padding: 0;
  }
}

@media all and (min-width: 1920px) {
  main #project .portfolio1 {
    height: 40vh;
  }
}

main #project .portfolio1 .device_img {
  width: 34%;
  height: 100%;
  margin: auto;
  margin-right: 110px;
  background-image: url(../../img/portfolio1_mockup.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  transform: matrix(1, 0, 0, 1, -200, 0);
  /* scroll magic */
}

@media all and (max-width: 679px) {
  main #project .portfolio1 .device_img {
    width: 100%;
    height: 35vh;
    margin-right: 0;
  }
}

main #project .portfolio1 .device_img.project {
  opacity: 0;
  text-align: center;
  transition: all 1s;
}

main #project .portfolio1 .device_img.visible {
  opacity: 1;
  transform: translateX(0);
  transition: all 1s;
}

main #project .interactive {
  display: none !important;
  width: 100%;
  height: 30vh;
  display: flex;
  margin-top: 100px;
  padding: 0 50px;
  /* 인터랙티브 러닝 이미지 */
}

@media all and (max-width: 679px) {
  main #project .interactive {
    height: auto;
    flex-wrap: wrap;
    padding: 30px;
  }
}

@media all and (min-width: 680px) and (max-width: 1279px) {
  main #project .interactive {
    height: 27vh;
    margin-top: 50px;
    padding: 0;
  }
}

@media all and (min-width: 1920px) {
  main #project .interactive {
    height: 40vh;
  }
}

main #project .interactive .device_img {
  width: 27.756%;
  height: 100%;
  margin: auto;
  margin-right: 146px;
  background-image: url(../../img/interactive_mockup.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  transform: matrix(1, 0, 0, 1, -200, 0);
  /* scroll magic */
}

@media all and (max-width: 679px) {
  main #project .interactive .device_img {
    width: 100%;
    height: 35vh;
    margin-right: 0;
  }
}

main #project .interactive .device_img.project {
  opacity: 0;
  text-align: center;
  transition: all 1s;
}

main #project .interactive .device_img.visible {
  opacity: 1;
  transform: translateX(0);
  transition: all 1s;
}

main #project .portfolio2 {
  width: 100%;
  height: 30vh;
  display: flex;
  margin-top: 100px;
  padding: 0 50px;
  /* 두번째 프로젝트 이미지 */
}

@media all and (max-width: 679px) {
  main #project .portfolio2 {
    height: auto;
    flex-wrap: wrap;
    padding: 30px;
  }
}

@media all and (min-width: 680px) and (max-width: 1279px) {
  main #project .portfolio2 {
    height: 27vh;
    margin-top: 50px;
    padding: 0;
  }
}

@media all and (min-width: 1920px) {
  main #project .portfolio2 {
    height: 40vh;
  }
}

main #project .portfolio2 .device_img {
  width: 34%;
  height: 100%;
  margin: auto;
  margin-right: 110px;
  background-image: url(../../img/portfolio2_mockup.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  transform: matrix(1, 0, 0, 1, -100, 0);
  /* scroll magic */
}

@media all and (max-width: 679px) {
  main #project .portfolio2 .device_img {
    width: 100%;
    height: 35vh;
    margin-right: 0;
  }
}

main #project .portfolio2 .device_img.project {
  opacity: 0;
  text-align: center;
  transition: all 1s;
}

main #project .portfolio2 .device_img.visible {
  opacity: 1;
  transform: translateX(0);
  transition: all 1s;
}

main #clone {
  width: 100%;
  height: auto;
  padding: 50px 0;
  /* 링크 이동 */
  /* 설명 */
  /* 페이지 제목 */
  /* 쿠팡 */
  /* 네이버 */
  /* 구글 */
  /* 스포티파이 */
  /* 별첨 */
}

main #clone h3 {
  width: 100%;
  margin-top: 50px;
  margin-bottom: 80px;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 0.3em;
  text-align: center;
  color: #2B90D9;
}

@media all and (max-width: 679px) {
  main #clone h3 {
    margin: auto;
    margin-top: 20px;
    margin-bottom: 50px;
    font-size: 25px;
    text-align: center;
  }
}

@media all and (min-width: 680px) and (max-width: 1279px) {
  main #clone h3 {
    font-size: 25px;
  }
}

@media all and (min-width: 1920px) {
  main #clone h3 {
    font-size: 35px;
  }
}

main #clone .clone_inner {
  width: 100%;
  height: auto;
  display: grid;
  grid-auto-flow: column;
  grid-gap: 90px;
}

@media all and (max-width: 679px) {
  main #clone .clone_inner {
    grid-auto-flow: inherit;
  }
}

@media all and (min-width: 680px) and (max-width: 1279px) {
  main #clone .clone_inner {
    grid-gap: 0;
  }
}

main #clone a {
  width: 100%;
  height: 100%;
  display: block;
}

main #clone a:hover {
  width: 100%;
  height: 100%;
  position: relative;
  color: #000;
  box-shadow: inset -3px 3px 20px rgba(43, 144, 217, 0.6);
  border-radius: 50%;
}

main #clone p {
  margin-top: 42px;
  font-size: 15px;
  font-weight: 400;
  text-align: center;
}

@media all and (min-width: 680px) and (max-width: 1279px) {
  main #clone p {
    font-size: 14px;
  }
}

@media all and (min-width: 1920px) {
  main #clone p {
    font-size: 17px;
  }
}

main #clone span {
  margin-top: 20px;
  display: block;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  color: #2B90D9;
}

@media all and (min-width: 680px) and (max-width: 1279px) {
  main #clone span {
    font-size: 15px;
  }
}

@media all and (min-width: 1920px) {
  main #clone span {
    font-size: 24px;
  }
}

main #clone .coupang {
  width: 214px;
  height: 214px;
  margin: auto;
  border-radius: 50%;
  border: 5px solid #2B90D9;
  transform: matrix(1, 0, 0, 1, 0, 10);
  /* scroll magic */
}

@media all and (max-width: 679px) {
  main #clone .coupang {
    width: 180px;
    height: 180px;
  }
}

@media all and (min-width: 680px) and (max-width: 1279px) {
  main #clone .coupang {
    width: 128px;
    height: 128px;
  }
}

@media all and (min-width: 1280px) and (max-width: 1439px) {
  main #clone .coupang {
    width: 190px;
    height: 190px;
  }
}

main #clone .coupang.clone {
  opacity: 0;
  text-align: center;
  box-shadow: 3px 14px 30px #ddd;
  transition: all 0.5s;
}

main #clone .coupang.visible {
  opacity: 1;
  transform: translateX(0);
  transition: all 0.5s;
}

main #clone .coupang span {
  font-size: 30px;
  position: relative;
  top: 45%;
  margin: auto;
}

@media all and (max-width: 679px) {
  main #clone .coupang span {
    top: 43%;
  }
}

@media all and (min-width: 680px) and (max-width: 1279px) {
  main #clone .coupang span {
    top: 37%;
  }
}

@media all and (min-width: 1280px) and (max-width: 1439px) {
  main #clone .coupang span {
    width: 135px;
  }
}

main #clone .naver {
  width: 214px;
  height: 214px;
  margin: auto;
  border-radius: 50%;
  border: 5px solid #2B90D9;
  transform: matrix(1, 0, 0, 1, 0, 40);
  /* scroll magic */
}

@media all and (max-width: 679px) {
  main #clone .naver {
    width: 180px;
    height: 180px;
  }
}

@media all and (min-width: 680px) and (max-width: 1279px) {
  main #clone .naver {
    width: 128px;
    height: 128px;
  }
}

@media all and (min-width: 1280px) and (max-width: 1439px) {
  main #clone .naver {
    width: 190px;
    height: 190px;
  }
}

main #clone .naver.clone {
  opacity: 0;
  text-align: center;
  box-shadow: 3px 14px 30px #ddd;
  transition: all 0.5s;
}

main #clone .naver.visible {
  opacity: 1;
  transform: translateX(0);
  transition: all 0.5s;
}

main #clone .naver span {
  font-size: 30px;
  position: relative;
  margin-top: 0;
  top: 45%;
}

@media all and (max-width: 679px) {
  main #clone .naver span {
    top: 43%;
  }
}

@media all and (min-width: 680px) and (max-width: 1279px) {
  main #clone .naver span {
    top: 37%;
    margin-top: 0;
  }
}

@media all and (min-width: 1280px) and (max-width: 1439px) {
  main #clone .naver span {
    width: 135px;
  }
}

main #clone .google {
  width: 214px;
  height: 214px;
  margin: auto;
  border-radius: 50%;
  border: 5px solid #2B90D9;
  transform: matrix(1, 0, 0, 1, 0, 70);
  /* scroll magic */
}

@media all and (max-width: 679px) {
  main #clone .google {
    width: 180px;
    height: 180px;
  }
}

@media all and (min-width: 680px) and (max-width: 1279px) {
  main #clone .google {
    width: 128px;
    height: 128px;
  }
}

@media all and (min-width: 1280px) and (max-width: 1439px) {
  main #clone .google {
    width: 190px;
    height: 190px;
  }
}

main #clone .google.clone {
  opacity: 0;
  text-align: center;
  box-shadow: 3px 14px 30px #ddd;
  transition: all 0.5s;
}

main #clone .google.visible {
  opacity: 1;
  transform: translateX(0);
  transition: all 0.5s;
}

main #clone .google span {
  font-size: 30px;
  position: relative;
  margin-top: 0;
  top: 41%;
}

@media all and (max-width: 679px) {
  main #clone .google span {
    top: 43%;
  }
}

@media all and (min-width: 680px) and (max-width: 1279px) {
  main #clone .google span {
    top: 37%;
    margin-top: 0;
  }
}

@media all and (min-width: 1280px) and (max-width: 1439px) {
  main #clone .google span {
    width: 135px;
  }
}

main #clone .spotify {
  width: 214px;
  height: 214px;
  margin: auto;
  border-radius: 50%;
  border: 5px solid #2B90D9;
  transform: matrix(1, 0, 0, 1, 0, 100);
  /* scroll magic */
}

@media all and (max-width: 679px) {
  main #clone .spotify {
    width: 180px;
    height: 180px;
  }
}

@media all and (min-width: 680px) and (max-width: 1279px) {
  main #clone .spotify {
    width: 128px;
    height: 128px;
  }
}

@media all and (min-width: 1280px) and (max-width: 1439px) {
  main #clone .spotify {
    width: 190px;
    height: 190px;
  }
}

main #clone .spotify.clone {
  opacity: 0;
  text-align: center;
  box-shadow: 3px 14px 30px #ddd;
  transition: all 0.5s;
}

main #clone .spotify.visible {
  opacity: 1;
  transform: translateX(0);
  transition: all 0.5s;
}

main #clone .spotify span {
  font-size: 30px;
  position: relative;
  margin-top: 0;
  top: 41%;
}

@media all and (max-width: 679px) {
  main #clone .spotify span {
    top: 43%;
  }
}

@media all and (min-width: 680px) and (max-width: 1279px) {
  main #clone .spotify span {
    top: 37%;
    margin-top: 0;
  }
}

@media all and (min-width: 1280px) and (max-width: 1439px) {
  main #clone .spotify span {
    width: 135px;
  }
}

main #clone .small_text {
  display: block;
  width: 90%;
  margin: auto;
  margin-top: 70px;
  font-size: 14px;
  text-align: right;
  color: #777;
}

@media all and (max-width: 679px) {
  main #clone .small_text {
    width: 100%;
    font-size: 14px;
  }
}

main #contact {
  width: 100%;
  height: auto;
  padding: 50px 0;
  padding-bottom: 180px;
  /* 상단 바 */
  /* 인사말 */
  /* 이메일 주소 */
}

@media all and (max-width: 679px) {
  main #contact {
    padding-bottom: 110px;
  }
}

main #contact .email_border::after {
  content: '';
  width: 0;
  height: 126px;
  margin: auto;
  margin-bottom: 54px;
  border: 5px solid #2B90D9;
  align-items: center;
  display: flex;
}

main #contact ul {
  margin-bottom: 50px;
  line-height: 35px;
}

main #contact ul li {
  font-size: 15px;
  font-weight: 500;
  text-align: center;
}

@media all and (max-width: 679px) {
  main #contact ul li {
    font-size: 14px;
  }
}

@media all and (min-width: 680px) and (max-width: 1279px) {
  main #contact ul li {
    font-size: 14px;
  }
}

@media all and (min-width: 1920px) {
  main #contact ul li {
    font-size: 17px;
  }
}

main #contact .email {
  margin-top: 70px;
  text-align: center;
}

main #contact .email a {
  font-size: 62px;
  font-weight: 700;
  letter-spacing: 0.3em;
  color: #2B90D9;
}

@media all and (max-width: 679px) {
  main #contact .email a {
    font-size: 18px;
  }
}

@media all and (min-width: 680px) and (max-width: 1279px) {
  main #contact .email a {
    font-size: 42px;
  }
}

@media all and (min-width: 1920px) {
  main #contact .email a {
    font-size: 64px;
  }
}

/* copyright */
.copyright p {
  font-size: 15px;
  font-weight: 300;
  text-align: center;
}

@media all and (max-width: 679px) {
  .copyright p {
    font-size: 14px;
  }
}

@media all and (min-width: 680px) and (max-width: 1279px) {
  .copyright p {
    font-size: 14px;
  }
}

@media all and (min-width: 1920px) {
  .copyright p {
    font-size: 17px;
  }
}
