/* portfolio2.css */
#wrap {
  width: 100%;
  height: auto;
  min-height: 800px;
  margin: auto;
  background-color: #fff;
  padding: 0 162px;
  /* header */
  /* #slide_menu ------------------------------ */
  /* #slide_menu ------------------------------ */
}

@media all and (max-width: 679px) {
  #wrap {
    padding: 0 10px;
  }
}

@media all and (min-width: 680px) and (max-width: 1279px) {
  #wrap {
    padding: 34px;
  }
}

@media all and (min-width: 1280px) and (max-width: 1439px) {
  #wrap {
    padding: 0 100px;
  }
}

#wrap #headBox {
  width: 100%;
  height: auto;
  position: sticky;
  top: 0;
  box-sizing: border-box;
  z-index: 1000;
}

#wrap .headinner {
  width: 100%;
  height: 100%;
  margin: auto;
  box-sizing: border-box;
  display: flex;
}

#wrap .headinner h1 {
  width: 94%;
  height: 100%;
}

@media all and (max-width: 679px) {
  #wrap .headinner h1 {
    width: 80%;
  }
}

#wrap .headinner h1 button {
  width: 100%;
  height: 100%;
  margin: auto;
  color: #2B90D9;
  font-family: "Montserrat", "noto sans KR";
  font-size: 20px;
  font-weight: 600;
  text-align: left;
  text-transform: uppercase;
  letter-spacing: 0.7em;
}

@media all and (max-width: 679px) {
  #wrap .headinner h1 button {
    font-size: 15px;
  }
}

#wrap .unb {
  width: 6%;
  height: 52px;
  margin: auto;
  padding-top: 20px;
}

@media all and (max-width: 679px) {
  #wrap .unb {
    width: 20%;
    height: 45px;
    padding-top: 12px;
  }
}

#wrap #check_box {
  display: none;
}

#wrap #check_box + label {
  width: 40px;
  height: 64%;
  margin: auto;
  display: block;
  position: relative;
  z-index: 100;
  cursor: pointer;
}

@media all and (max-width: 679px) {
  #wrap #check_box + label {
    width: 30px;
    margin: auto 0 0 30px;
  }
}

#wrap #check_box + label > span {
  width: 100%;
  height: 2px;
  display: block;
  position: absolute;
  transition: all 300ms;
  border-radius: 5px;
  background: #000;
}

@media all and (max-width: 679px) {
  #wrap #check_box + label > span {
    height: 1.5px;
  }
}

#wrap :checked + label > span:nth-child(1) {
  top: 50%;
  transform: translate(0, -50%);
  transform: rotate(45deg);
  background-color: #fff;
}

#wrap #check_box + label > span:nth-child(2) {
  top: 50%;
  transform: translate(0, -50%);
}

#wrap :checked + label > span:nth-child(2) {
  opacity: 0;
}

#wrap #check_box + label > span:nth-child(3) {
  bottom: 0;
}

#wrap :checked + label > span:nth-child(3) {
  top: 50%;
  transform: translate(0, -50%);
  transform: rotate(-45deg);
  background-color: #fff;
}

#wrap #check_box:checked + label + #slide_menu {
  left: 50%;
}

@media all and (max-width: 679px) {
  #wrap #check_box:checked + label + #slide_menu {
    left: 0%;
  }
}

#wrap #slide_menu {
  width: 100%;
  height: 100%;
  padding: 80px 16px 70px 16px;
  position: fixed;
  top: 0px;
  left: 100%;
  overflow: auto;
  transition: all 300ms;
  box-sizing: border-box;
  text-transform: uppercase;
  z-index: 1;
  background-color: rgba(43, 144, 217, 0.9);
}

#wrap input[id*="slide_btn"] {
  display: none;
}

#wrap input[id*="slide_btn"] + label {
  width: auto;
  display: block;
  padding: 20px;
  position: relative;
  border-bottom: 1px solid #fff;
  font-family: "Montserrat", "noto sans KR";
  font-size: 15px;
  font-weight: 500;
  color: #fff;
  letter-spacing: 0.3em;
  cursor: pointer;
}

@media all and (max-width: 679px) {
  #wrap input[id*="slide_btn"] + label {
    font-size: 14px;
  }
}

#wrap input[id*="slide_btn"] + label:hover {
  background-color: #fff;
  color: #000;
  font-weight: 500;
}

/* all scroll animation */
main #home {
  width: 100%;
  height: 95vh;
  margin: auto;
  padding: 83px 0 145px 0;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media all and (max-width: 679px) {
  main #home {
    gap: 10px;
    flex-wrap: wrap;
    padding: 83px 0 100px 0;
  }
}

main #home h2 {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.7em;
  text-transform: uppercase;
  text-align: center;
}

@media all and (max-width: 679px) {
  main #home h2 {
    width: 100%;
    font-size: 15px;
  }
}

@media all and (min-width: 680px) and (max-width: 1279px) {
  main #home h2 {
    font-size: 15px;
  }
}

@media all and (min-width: 1920px) {
  main #home h2 {
    font-size: 24px;
  }
}

main #home img {
  display: block;
  margin: auto;
  width: 21.8056%;
}

@media all and (max-width: 679px) {
  main #home img {
    width: 49%;
  }
}

main #home p {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.3em;
  text-align: center;
}

@media all and (max-width: 679px) {
  main #home p {
    width: 100%;
    font-size: 15px;
  }
}

@media all and (min-width: 680px) and (max-width: 1279px) {
  main #home p {
    font-size: 15px;
  }
}

@media all and (min-width: 1920px) {
  main #home p {
    font-size: 24px;
  }
}

main #home p span {
  color: #2B90D9;
}

main #about {
  width: 100%;
  height: auto;
  padding: 50px 0;
}

main #about h3 {
  width: 100%;
  margin-top: 50px;
  margin-bottom: 80px;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 0.3em;
  text-align: center;
  color: #2B90D9;
}

@media all and (max-width: 679px) {
  main #about h3 {
    margin: auto;
    margin-top: 20px;
    margin-bottom: 50px;
    font-size: 25px;
    text-align: center;
  }
}

@media all and (min-width: 680px) and (max-width: 1279px) {
  main #about h3 {
    font-size: 25px;
  }
}

@media all and (min-width: 1920px) {
  main #about h3 {
    font-size: 35px;
  }
}

main #about .about_inner {
  display: flex;
  flex-wrap: nowrap;
}

@media all and (max-width: 679px) {
  main #about .about_inner {
    flex-wrap: wrap;
  }
}

main #about .about_left {
  width: 48%;
  height: auto;
  margin-right: 12%;
  display: flex;
  flex-wrap: wrap;
}

@media all and (max-width: 679px) {
  main #about .about_left {
    width: 100%;
    margin-right: 0;
  }
}

@media all and (min-width: 680px) and (max-width: 1279px) {
  main #about .about_left {
    width: 54%;
    margin-right: 6%;
  }
}

main #about .about_left .aspiration {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}

@media all and (min-width: 680px) and (max-width: 1279px) {
  main #about .about_left .aspiration {
    margin-bottom: 10px;
  }
}

main #about .about_left .aspiration p {
  width: 100%;
  font-size: 20px;
  font-weight: 500;
  color: #2B90D9;
  letter-spacing: 0.1em;
}

@media all and (max-width: 679px) {
  main #about .about_left .aspiration p {
    font-size: 15px;
  }
}

@media all and (min-width: 680px) and (max-width: 1279px) {
  main #about .about_left .aspiration p {
    font-size: 15px;
  }
}

@media all and (min-width: 1920px) {
  main #about .about_left .aspiration p {
    font-size: 24px;
  }
}

main #about .about_left .introduce {
  width: 100%;
}

main #about .about_left span {
  font-size: 15px;
  font-weight: 400;
  color: #000;
  letter-spacing: 0.1em;
}

@media all and (max-width: 679px) {
  main #about .about_left span {
    font-size: 14px;
  }
}

@media all and (min-width: 680px) and (max-width: 1279px) {
  main #about .about_left span {
    font-size: 14px;
  }
}

@media all and (min-width: 1920px) {
  main #about .about_left span {
    font-size: 17px;
  }
}

@media all and (max-width: 679px) {
  main #about .about_right_inner {
    flex-wrap: wrap-reverse;
  }
}

main #about .about_right {
  width: 40%;
  height: auto;
  margin-top: 60px;
  display: flex;
  flex-wrap: wrap;
}

@media all and (max-width: 679px) {
  main #about .about_right {
    width: 100%;
    margin-top: 30px;
  }
}

@media all and (min-width: 680px) and (max-width: 1279px) {
  main #about .about_right {
    margin-top: 41px;
  }
}

main #about .about_right .name {
  width: 100%;
  height: auto;
}

main #about .about_right .name p {
  font-size: 15px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0.3em;
  color: #2B90D9;
}

@media all and (max-width: 679px) {
  main #about .about_right .name p {
    font-size: 14px;
  }
}

@media all and (min-width: 1920px) {
  main #about .about_right .name p {
    font-size: 17px;
  }
}

main #about .about_right .name p span {
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0.3em;
  color: #000;
}

@media all and (max-width: 679px) {
  main #about .about_right .name p span {
    font-size: 14px;
  }
}

@media all and (min-width: 680px) and (max-width: 1279px) {
  main #about .about_right .name p span {
    font-size: 14px;
  }
}

@media all and (min-width: 1920px) {
  main #about .about_right .name p span {
    font-size: 17px;
  }
}

main #about .about_right .eduction {
  width: 100%;
  height: auto;
  margin-top: 26px;
}

@media all and (max-width: 679px) {
  main #about .about_right .eduction {
    margin-top: 20px;
  }
}

@media all and (min-width: 680px) and (max-width: 1279px) {
  main #about .about_right .eduction {
    margin-top: 0;
  }
}

main #about .about_right .eduction span {
  font-size: 20px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0.1em;
  color: #2B90D9;
}

@media all and (max-width: 679px) {
  main #about .about_right .eduction span {
    font-size: 15px;
  }
}

@media all and (min-width: 680px) and (max-width: 1279px) {
  main #about .about_right .eduction span {
    font-size: 15px;
  }
}

@media all and (min-width: 1920px) {
  main #about .about_right .eduction span {
    font-size: 24px;
  }
}

main #about .about_right .eduction p {
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0.1em;
  color: #000;
}

@media all and (max-width: 679px) {
  main #about .about_right .eduction p {
    font-size: 14px;
  }
}

@media all and (min-width: 680px) and (max-width: 1279px) {
  main #about .about_right .eduction p {
    font-size: 14px;
  }
}

@media all and (min-width: 1920px) {
  main #about .about_right .eduction p {
    font-size: 17px;
  }
}

main #about .about_button {
  width: 100%;
  height: 35px;
  margin-top: 26px;
  display: flex;
  line-height: 35px;
}

@media all and (max-width: 679px) {
  main #about .about_button {
    width: 90%;
    margin: auto;
    margin-top: 26px;
  }
}

@media all and (min-width: 680px) and (max-width: 1279px) {
  main #about .about_button {
    width: 100%;
    margin-top: 0;
  }
}

main #about .about_button a:nth-child(1) {
  width: 30%;
  height: 100%;
  margin-right: 15px;
  background-color: #2B90D9;
  border-radius: 20px;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 0.1em;
  color: #fff;
  text-align: center;
  line-height: 35px;
}

@media all and (max-width: 679px) {
  main #about .about_button a:nth-child(1) {
    font-size: 14px;
  }
}

@media all and (min-width: 680px) and (max-width: 1279px) {
  main #about .about_button a:nth-child(1) {
    font-size: 14px;
  }
}

@media all and (min-width: 1920px) {
  main #about .about_button a:nth-child(1) {
    font-size: 17px;
  }
}

main #about .about_button a:nth-child(1):hover {
  width: 29.1%;
  height: 31px;
  line-height: 31px;
  color: #000;
  background-color: #fff;
  border: 2px solid #2B90D9;
}

main #about .about_button a:nth-child(2) {
  width: 30%;
  height: 100%;
  margin-right: 15px;
  background-color: #2B90D9;
  border-radius: 20px;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 0.1em;
  color: #fff;
  text-align: center;
  line-height: 35px;
}

@media all and (max-width: 679px) {
  main #about .about_button a:nth-child(2) {
    font-size: 14px;
  }
}

@media all and (min-width: 680px) and (max-width: 1279px) {
  main #about .about_button a:nth-child(2) {
    font-size: 14px;
  }
}

@media all and (min-width: 1920px) {
  main #about .about_button a:nth-child(2) {
    font-size: 17px;
  }
}

main #about .about_button a:nth-child(2):hover {
  width: 29.1%;
  height: 31px;
  line-height: 31px;
  color: #000;
  background-color: #fff;
  border: 2px solid #2B90D9;
}

main #about .about_button a:nth-child(3) {
  width: 30%;
  height: 100%;
  background-color: #2B90D9;
  border-radius: 20px;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 0.1em;
  color: #fff;
  text-align: center;
  line-height: 35px;
}

@media all and (max-width: 679px) {
  main #about .about_button a:nth-child(3) {
    font-size: 14px;
  }
}

@media all and (min-width: 680px) and (max-width: 1279px) {
  main #about .about_button a:nth-child(3) {
    font-size: 14px;
  }
}

@media all and (min-width: 1920px) {
  main #about .about_button a:nth-child(3) {
    font-size: 17px;
  }
}

main #about .about_button a:nth-child(3):hover {
  width: 29.1%;
  height: 31px;
  line-height: 31px;
  color: #000;
  background-color: #fff;
  border: 2px solid #2B90D9;
}

main #banner {
  width: 100%;
  height: auto;
  margin: auto;
  overflow: hidden;
}

@keyframes marquee {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-224%, 0, 0);
  }
}

main #banner p {
  white-space: nowrap;
  will-change: transform;
  animation: marquee 20s linear infinite;
  width: 100%;
  padding: 1rem;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
  font-family: "Montserrat", "noto sans KR", sans-serif;
  font-size: 128px;
  font-weight: 800;
  text-transform: uppercase;
  color: #fff;
  text-shadow: -3px 0 #2B90D9, 0 3px #2B90D9, 3px 0 #2B90D9, 0 -3px #2B90D9;
  letter-spacing: 0.3em;
}

@media all and (max-width: 679px) {
  main #banner p {
    font-size: 80px;
  }
}

@media all and (min-width: 680px) and (max-width: 1279px) {
  main #banner p {
    font-size: 80px;
  }
}

main #banner p:hover {
  animation-play-state: paused;
  cursor: default;
}

main #advantage {
  width: 100%;
  height: auto;
  padding: 50px 0;
}

main #advantage .advantage_inner {
  display: flex;
}

@media all and (max-width: 679px) {
  main #advantage .advantage_inner {
    flex-wrap: wrap;
  }
}

main #advantage .advantage_inner .advantage_left {
  width: 40%;
  height: auto;
  margin-right: 4%;
}

@media all and (max-width: 679px) {
  main #advantage .advantage_inner .advantage_left {
    width: 100%;
    margin: auto;
  }
}

main #advantage .advantage_inner .advantage_left h3 {
  margin-top: 20px;
  margin-right: 60px;
  font-size: 30px;
  font-weight: 700;
  text-align: right;
  letter-spacing: 0.1em;
  color: #2B90D9;
}

@media all and (max-width: 679px) {
  main #advantage .advantage_inner .advantage_left h3 {
    margin: auto;
    margin-top: 20px;
    margin-bottom: 50px;
    font-size: 25px;
    text-align: center;
  }
}

@media all and (min-width: 680px) and (max-width: 1279px) {
  main #advantage .advantage_inner .advantage_left h3 {
    font-size: 25px;
  }
}

@media all and (min-width: 1920px) {
  main #advantage .advantage_inner .advantage_left h3 {
    margin: auto 0;
    text-align: center;
    font-size: 35px;
  }
}

main #advantage .advantage_inner .advantage_left .advantage_3d {
  width: 44.804%;
  height: 47.15%;
  margin: 150px;
  background-image: url(../../img/3d_advantage.svg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

@media all and (max-width: 679px) {
  main #advantage .advantage_inner .advantage_left .advantage_3d {
    display: none;
  }
}

@media all and (min-width: 680px) and (max-width: 1279px) {
  main #advantage .advantage_inner .advantage_left .advantage_3d {
    margin: 190px 90px;
  }
}

@media all and (min-width: 1920px) {
  main #advantage .advantage_inner .advantage_left .advantage_3d {
    margin: 150px auto 0 auto;
  }
}

main #advantage .advantage_inner .advantage_right {
  width: 56%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
}

@media all and (max-width: 679px) {
  main #advantage .advantage_inner .advantage_right {
    width: 100%;
  }
}

main #advantage .advantage_inner .advantage_right .Aright_inner {
  margin-top: 20px;
}

main #advantage .advantage_inner .advantage_right .Aright_inner p {
  font-size: 20px;
  font-weight: 700;
  text-transform: capitalize;
}

@media all and (max-width: 679px) {
  main #advantage .advantage_inner .advantage_right .Aright_inner p {
    font-size: 15px;
  }
}

@media all and (min-width: 680px) and (max-width: 1279px) {
  main #advantage .advantage_inner .advantage_right .Aright_inner p {
    font-size: 15px;
  }
}

@media all and (min-width: 1920px) {
  main #advantage .advantage_inner .advantage_right .Aright_inner p {
    font-size: 24px;
  }
}

main #advantage .advantage_inner .advantage_right .Aright_inner span {
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0.1em;
}

@media all and (max-width: 679px) {
  main #advantage .advantage_inner .advantage_right .Aright_inner span {
    font-size: 14px;
  }
}

@media all and (min-width: 680px) and (max-width: 1279px) {
  main #advantage .advantage_inner .advantage_right .Aright_inner span {
    font-size: 14px;
  }
}

@media all and (min-width: 1920px) {
  main #advantage .advantage_inner .advantage_right .Aright_inner span {
    font-size: 17px;
  }
}

main #advantage .advantage_inner::before {
  content: '';
  border: 1px solid #000;
  position: relative;
  left: 39%;
}

@media all and (max-width: 679px) {
  main #advantage .advantage_inner::before {
    display: none;
  }
}

main #skill {
  width: 100%;
  height: auto;
  padding: 50px 0;
}

main #skill h3 {
  width: 100%;
  margin-top: 50px;
  margin-bottom: 80px;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 0.3em;
  text-align: center;
  color: #2B90D9;
}

@media all and (max-width: 679px) {
  main #skill h3 {
    margin: auto;
    margin-top: 20px;
    margin-bottom: 50px;
    font-size: 25px;
    text-align: center;
  }
}

@media all and (min-width: 680px) and (max-width: 1279px) {
  main #skill h3 {
    font-size: 25px;
  }
}

@media all and (min-width: 1920px) {
  main #skill h3 {
    font-size: 35px;
  }
}

main #skill .charts {
  width: 100%;
  display: flex;
  justify-content: center;
}

@media all and (max-width: 679px) {
  main #skill .charts {
    flex-wrap: wrap;
  }
}

main #skill .charts .chart {
  width: 100%;
  position: relative;
}

@media all and (max-width: 679px) {
  main #skill .charts .chart {
    width: 100%;
  }
}

main #skill .charts .chart h4 {
  font-size: 15px;
  position: absolute;
  top: 113px;
  left: 75px;
  transform: translate(-50%, -50%);
}

@media all and (max-width: 679px) {
  main #skill .charts .chart h4 {
    font-size: 14px;
    top: 81px;
    left: 55px;
  }
}

@media all and (min-width: 680px) and (max-width: 1279px) {
  main #skill .charts .chart h4 {
    font-size: 14px;
    top: 91px;
    left: 57px;
  }
}

main #skill .charts .chart .svg_img {
  width: 64px;
  height: 64px;
  position: absolute;
  top: 31px;
  left: 42px;
}

@media all and (max-width: 679px) {
  main #skill .charts .chart .svg_img {
    width: 50px;
    height: 50px;
    top: 21px;
    left: 30px;
  }
}

@media all and (min-width: 680px) and (max-width: 1279px) {
  main #skill .charts .chart .svg_img {
    width: 50px;
    height: 50px;
    top: 30px;
    left: 33px;
  }
}

main #skill .charts .chart svg {
  width: 150px;
  height: 150px;
}

@media all and (max-width: 679px) {
  main #skill .charts .chart svg {
    width: 110px;
    height: 110px;
  }
}

@media all and (min-width: 680px) and (max-width: 1279px) {
  main #skill .charts .chart svg {
    width: 120px;
    height: 120px;
  }
}

main #skill .charts .chart svg circle {
  fill: #dedede;
  stroke-width: 20;
  stroke-dasharray: 409;
  stroke-dashoffset: 409;
  animation: line 2s forwards;
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
  stroke-linecap: round;
  cx: 75;
  cy: 75;
  r: 65;
}

@media all and (max-width: 679px) {
  main #skill .charts .chart svg circle {
    stroke-width: 10;
    stroke-dasharray: 315;
    stroke-dashoffset: 315;
    cx: 56;
    cy: 56;
    r: 49;
  }
}

@media all and (min-width: 680px) and (max-width: 1279px) {
  main #skill .charts .chart svg circle {
    stroke-width: 10;
    stroke-dasharray: 325;
    stroke-dashoffset: 325;
    cx: 60;
    cy: 60;
    r: 50;
  }
}

main #skill .charts .charts_inner1 {
  width: 17%;
  display: grid;
  gap: 15px;
}

@media all and (max-width: 679px) {
  main #skill .charts .charts_inner1 {
    width: 40%;
    padding: 0 5px;
  }
}

main #skill .charts .charts_inner1 .chart:nth-child(1) circle {
  stroke: #E34F26;
}

main #skill .charts .charts_inner1 .chart:nth-child(2) circle {
  stroke: #1572B6;
}

main #skill .charts .charts_inner1 .chart:nth-child(3) circle {
  stroke: #CC6699;
}

main #skill .charts .charts_inner1 .chart:nth-child(4) circle {
  stroke: #F7DF1E;
}

main #skill .charts .chart_text1, main #skill .charts .chart_text2 {
  width: 33%;
  display: grid;
  gap: 15px;
}

@media all and (max-width: 679px) {
  main #skill .charts .chart_text1, main #skill .charts .chart_text2 {
    width: 60%;
  }
}

main #skill .charts .chart_text1 .chart_text, main #skill .charts .chart_text2 .chart_text {
  margin: 20px;
  line-height: 30px;
}

@media all and (max-width: 679px) {
  main #skill .charts .chart_text1 .chart_text, main #skill .charts .chart_text2 .chart_text {
    margin: 10px;
  }
}

main #skill .charts .chart_text1 p, main #skill .charts .chart_text2 p {
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0.1em;
}

@media all and (max-width: 679px) {
  main #skill .charts .chart_text1 p, main #skill .charts .chart_text2 p {
    font-size: 14px;
  }
}

@media all and (min-width: 680px) and (max-width: 1279px) {
  main #skill .charts .chart_text1 p, main #skill .charts .chart_text2 p {
    font-size: 14px;
  }
}

@media all and (min-width: 1920px) {
  main #skill .charts .chart_text1 p, main #skill .charts .chart_text2 p {
    font-size: 17px;
  }
}

main #skill .charts .chart_text1 p:nth-child(1), main #skill .charts .chart_text2 p:nth-child(1) {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.1em;
  color: #2B90D9;
}

@media all and (max-width: 679px) {
  main #skill .charts .chart_text1 p:nth-child(1), main #skill .charts .chart_text2 p:nth-child(1) {
    font-size: 15px;
  }
}

@media all and (min-width: 680px) and (max-width: 1279px) {
  main #skill .charts .chart_text1 p:nth-child(1), main #skill .charts .chart_text2 p:nth-child(1) {
    font-size: 15px;
  }
}

@media all and (min-width: 1920px) {
  main #skill .charts .chart_text1 p:nth-child(1), main #skill .charts .chart_text2 p:nth-child(1) {
    font-size: 24px;
  }
}

main #skill .charts .charts_inner2 {
  width: 17%;
  display: grid;
  gap: 15px;
}

@media all and (max-width: 679px) {
  main #skill .charts .charts_inner2 {
    width: 40%;
    padding: 0 10px;
  }
}

main #skill .charts .charts_inner2 .chart:nth-child(1) circle {
  stroke: #F24E1E;
}

main #skill .charts .charts_inner2 .chart:nth-child(2) circle {
  stroke: #61DAFB;
}

main #skill .charts .charts_inner2 .chart:nth-child(3) circle {
  stroke: #F05032;
}

main #skill .charts .chart_bin {
  width: 78.95%;
  height: 150px;
}

@media all and (max-width: 679px) {
  main #skill .charts .chart_bin {
    height: 0;
  }
}

main #skill .charts .chart_text_bin {
  height: 150px;
  border: 1px solid #fff;
}

@media all and (max-width: 679px) {
  main #skill .charts .chart_text_bin {
    height: 0;
  }
}

main #project {
  width: 100%;
  height: auto;
  padding: 50px 0;
}

main #project h3 {
  width: 100%;
  margin-top: 50px;
  margin-bottom: 80px;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 0.3em;
  text-align: center;
  color: #2B90D9;
}

@media all and (max-width: 679px) {
  main #project h3 {
    margin: auto;
    margin-top: 20px;
    margin-bottom: 50px;
    font-size: 25px;
    text-align: center;
  }
}

@media all and (min-width: 680px) and (max-width: 1279px) {
  main #project h3 {
    font-size: 25px;
  }
}

@media all and (min-width: 1920px) {
  main #project h3 {
    font-size: 35px;
  }
}

main #project .project_inner {
  display: flex;
  flex-wrap: wrap;
}

main #project .project_inner .project_text {
  width: 56%;
  transform: matrix(1, 0, 0, 1, 30, 0);
}

@media all and (max-width: 679px) {
  main #project .project_inner .project_text {
    width: 100%;
    margin: 10px auto;
  }
}

@media all and (min-width: 1920px) {
  main #project .project_inner .project_text {
    margin: auto 0;
  }
}

main #project .project_inner .project_text.project {
  opacity: 0;
  transition: all 0.5s;
}

main #project .project_inner .project_text.visible {
  opacity: 1;
  transform: translateX(0);
  transition: all 0.5s;
}

main #project .project_inner .project_text p {
  width: 100%;
  height: auto;
}

main #project .project_inner .project_text :nth-child(1) {
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.3em;
}

@media all and (max-width: 679px) {
  main #project .project_inner .project_text :nth-child(1) {
    font-size: 15px;
  }
}

@media all and (min-width: 680px) and (max-width: 1279px) {
  main #project .project_inner .project_text :nth-child(1) {
    font-size: 15px;
  }
}

@media all and (min-width: 1920px) {
  main #project .project_inner .project_text :nth-child(1) {
    font-size: 24px;
  }
}

main #project .project_inner .project_text :nth-child(2) {
  line-height: 24px;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0.3em;
}

@media all and (max-width: 679px) {
  main #project .project_inner .project_text :nth-child(2) {
    font-size: 14px;
  }
}

@media all and (min-width: 680px) and (max-width: 1279px) {
  main #project .project_inner .project_text :nth-child(2) {
    font-size: 14px;
  }
}

@media all and (min-width: 1920px) {
  main #project .project_inner .project_text :nth-child(2) {
    font-size: 17px;
  }
}

main #project .project_inner .project_text :nth-child(3) {
  margin-top: 15px;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0.1em;
}

@media all and (max-width: 679px) {
  main #project .project_inner .project_text :nth-child(3) {
    font-size: 14px;
  }
}

@media all and (min-width: 680px) and (max-width: 1279px) {
  main #project .project_inner .project_text :nth-child(3) {
    font-size: 14px;
  }
}

@media all and (min-width: 1920px) {
  main #project .project_inner .project_text :nth-child(3) {
    font-size: 17px;
  }
}

main #project .project_inner button {
  width: 86px;
  height: 30px;
  margin-top: 40px;
  font-size: 15px;
  font-weight: 500;
  color: #fff;
  border-radius: 20px;
  background-color: #2B90D9;
}

@media all and (max-width: 679px) {
  main #project .project_inner button {
    position: relative;
    left: 13%;
    margin-top: 10px;
    font-size: 14px;
  }
}

@media all and (min-width: 680px) and (max-width: 1279px) {
  main #project .project_inner button {
    margin-top: 10px;
    font-size: 14px;
  }
}

@media all and (min-width: 1920px) {
  main #project .project_inner button {
    font-size: 17px;
  }
}

main #project .project_inner button:hover {
  color: #000;
  background-color: #fff;
  border: 2px solid #2B90D9;
}

main #project .ohou {
  width: 100%;
  height: 30vh;
  display: flex;
  margin-top: 100px;
  padding: 0 50px;
  margin-top: 0;
}

@media all and (max-width: 679px) {
  main #project .ohou {
    height: auto;
    flex-wrap: wrap;
    padding: 30px;
  }
}

@media all and (min-width: 680px) and (max-width: 1279px) {
  main #project .ohou {
    height: 37vh;
    padding: 0;
  }
}

@media all and (min-width: 1920px) {
  main #project .ohou {
    height: 40vh;
  }
}

main #project .ohou .device_img {
  width: 34%;
  height: 100%;
  margin: auto;
  margin-right: 110px;
  background-image: url(../../img/ohou_mockup.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  transform: matrix(1, 0, 0, 1, -200, 0);
}

@media all and (max-width: 679px) {
  main #project .ohou .device_img {
    width: 100%;
    height: 35vh;
    margin-right: 0;
  }
}

main #project .ohou .device_img.project {
  opacity: 0;
  text-align: center;
  transition: all 1s;
}

main #project .ohou .device_img.visible {
  opacity: 1;
  transform: translateX(0);
  transition: all 1s;
}

main #project .ediya {
  width: 100%;
  height: 30vh;
  display: flex;
  margin-top: 100px;
  padding: 0 50px;
}

@media all and (max-width: 679px) {
  main #project .ediya {
    height: auto;
    flex-wrap: wrap;
    padding: 30px;
  }
}

@media all and (min-width: 680px) and (max-width: 1279px) {
  main #project .ediya {
    height: 37vh;
    margin-top: 50px;
    padding: 0;
  }
}

@media all and (min-width: 1920px) {
  main #project .ediya {
    height: 40vh;
  }
}

main #project .ediya .device_img {
  width: 34%;
  height: 100%;
  margin: auto;
  margin-right: 110px;
  background-image: url(../../img/ediya_mockup.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  transform: matrix(1, 0, 0, 1, -200, 0);
}

@media all and (max-width: 679px) {
  main #project .ediya .device_img {
    width: 100%;
    height: 35vh;
    margin-right: 0;
  }
}

main #project .ediya .device_img.project {
  opacity: 0;
  text-align: center;
  transition: all 1s;
}

main #project .ediya .device_img.visible {
  opacity: 1;
  transform: translateX(0);
  transition: all 1s;
}

main #project .portfolio1 {
  width: 100%;
  height: 30vh;
  display: flex;
  margin-top: 100px;
  padding: 0 50px;
}

@media all and (max-width: 679px) {
  main #project .portfolio1 {
    height: auto;
    flex-wrap: wrap;
    padding: 30px;
  }
}

@media all and (min-width: 680px) and (max-width: 1279px) {
  main #project .portfolio1 {
    height: 37vh;
    margin-top: 50px;
    padding: 0;
  }
}

@media all and (min-width: 1920px) {
  main #project .portfolio1 {
    height: 40vh;
  }
}

main #project .portfolio1 .device_img {
  width: 34%;
  height: 100%;
  margin: auto;
  margin-right: 110px;
  background-image: url(../../img/portfolio1_mockup.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  transform: matrix(1, 0, 0, 1, -200, 0);
}

@media all and (max-width: 679px) {
  main #project .portfolio1 .device_img {
    width: 100%;
    height: 35vh;
    margin-right: 0;
  }
}

main #project .portfolio1 .device_img.project {
  opacity: 0;
  text-align: center;
  transition: all 1s;
}

main #project .portfolio1 .device_img.visible {
  opacity: 1;
  transform: translateX(0);
  transition: all 1s;
}

main #project .interactive {
  width: 100%;
  height: 30vh;
  display: flex;
  margin-top: 100px;
  padding: 0 50px;
}

@media all and (max-width: 679px) {
  main #project .interactive {
    height: auto;
    flex-wrap: wrap;
    padding: 30px;
  }
}

@media all and (min-width: 680px) and (max-width: 1279px) {
  main #project .interactive {
    height: 37vh;
    margin-top: 50px;
    padding: 0;
  }
}

@media all and (min-width: 1920px) {
  main #project .interactive {
    height: 40vh;
  }
}

main #project .interactive .device_img {
  width: 27.756%;
  height: 100%;
  margin: auto;
  margin-right: 146px;
  background-image: url(../../img/interactive_mockup.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  transform: matrix(1, 0, 0, 1, -200, 0);
}

@media all and (max-width: 679px) {
  main #project .interactive .device_img {
    width: 100%;
    height: 35vh;
    margin-right: 0;
  }
}

main #project .interactive .device_img.project {
  opacity: 0;
  text-align: center;
  transition: all 1s;
}

main #project .interactive .device_img.visible {
  opacity: 1;
  transform: translateX(0);
  transition: all 1s;
}

main #project .portfolio2 {
  width: 100%;
  height: 30vh;
  display: flex;
  margin-top: 100px;
  padding: 0 50px;
}

@media all and (max-width: 679px) {
  main #project .portfolio2 {
    height: auto;
    flex-wrap: wrap;
    padding: 30px;
  }
}

@media all and (min-width: 680px) and (max-width: 1279px) {
  main #project .portfolio2 {
    height: 37vh;
    margin-top: 50px;
    padding: 0;
  }
}

@media all and (min-width: 1920px) {
  main #project .portfolio2 {
    height: 40vh;
  }
}

main #project .portfolio2 .device_img {
  width: 34%;
  height: 100%;
  margin: auto;
  margin-right: 110px;
  background-image: url(../../img/portfolio2_mockup.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  transform: matrix(1, 0, 0, 1, -100, 0);
}

@media all and (max-width: 679px) {
  main #project .portfolio2 .device_img {
    width: 100%;
    height: 35vh;
    margin-right: 0;
  }
}

main #project .portfolio2 .device_img.project {
  opacity: 0;
  text-align: center;
  transition: all 1s;
}

main #project .portfolio2 .device_img.visible {
  opacity: 1;
  transform: translateX(0);
  transition: all 1s;
}

main #clone {
  width: 100%;
  height: auto;
  padding: 50px 0;
}

main #clone h3 {
  width: 100%;
  margin-top: 50px;
  margin-bottom: 80px;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 0.3em;
  text-align: center;
  color: #2B90D9;
}

@media all and (max-width: 679px) {
  main #clone h3 {
    margin: auto;
    margin-top: 20px;
    margin-bottom: 50px;
    font-size: 25px;
    text-align: center;
  }
}

@media all and (min-width: 680px) and (max-width: 1279px) {
  main #clone h3 {
    font-size: 25px;
  }
}

@media all and (min-width: 1920px) {
  main #clone h3 {
    font-size: 35px;
  }
}

main #clone .clone_inner {
  width: 100%;
  height: auto;
  display: grid;
  grid-auto-flow: column;
  grid-gap: 90px;
}

@media all and (max-width: 679px) {
  main #clone .clone_inner {
    grid-auto-flow: inherit;
  }
}

@media all and (min-width: 680px) and (max-width: 1279px) {
  main #clone .clone_inner {
    grid-gap: 0;
  }
}

main #clone a {
  width: 100%;
  height: 100%;
  display: block;
}

main #clone a:hover {
  width: 100%;
  height: 100%;
  position: relative;
  color: #000;
  box-shadow: inset -3px 3px 20px rgba(43, 144, 217, 0.6);
  border-radius: 50%;
}

main #clone p {
  margin-top: 42px;
  font-size: 15px;
  font-weight: 400;
  text-align: center;
}

@media all and (min-width: 680px) and (max-width: 1279px) {
  main #clone p {
    font-size: 14px;
  }
}

@media all and (min-width: 1920px) {
  main #clone p {
    font-size: 17px;
  }
}

main #clone span {
  margin-top: 20px;
  display: block;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  color: #2B90D9;
}

@media all and (min-width: 680px) and (max-width: 1279px) {
  main #clone span {
    font-size: 15px;
  }
}

@media all and (min-width: 1920px) {
  main #clone span {
    font-size: 24px;
  }
}

main #clone .coupang {
  width: 214px;
  height: 214px;
  margin: auto;
  border-radius: 50%;
  border: 5px solid #2B90D9;
  transform: matrix(1, 0, 0, 1, 0, 10);
}

@media all and (max-width: 679px) {
  main #clone .coupang {
    width: 180px;
    height: 180px;
  }
}

@media all and (min-width: 680px) and (max-width: 1279px) {
  main #clone .coupang {
    width: 128px;
    height: 128px;
  }
}

@media all and (min-width: 1280px) and (max-width: 1439px) {
  main #clone .coupang {
    width: 190px;
    height: 190px;
  }
}

main #clone .coupang.clone {
  opacity: 0;
  text-align: center;
  box-shadow: 3px 14px 30px #ddd;
  transition: all 0.5s;
}

main #clone .coupang.visible {
  opacity: 1;
  transform: translateX(0);
  transition: all 0.5s;
}

main #clone .coupang span {
  font-size: 30px;
  position: relative;
  top: 45%;
  margin-top: 0;
}

@media all and (max-width: 679px) {
  main #clone .coupang span {
    top: 43%;
  }
}

@media all and (min-width: 680px) and (max-width: 1279px) {
  main #clone .coupang span {
    top: 37%;
    margin-top: 0;
  }
}

@media all and (min-width: 1280px) and (max-width: 1439px) {
  main #clone .coupang span {
    width: 135px;
  }
}

main #clone .naver {
  width: 214px;
  height: 214px;
  margin: auto;
  border-radius: 50%;
  border: 5px solid #2B90D9;
  transform: matrix(1, 0, 0, 1, 0, 40);
}

@media all and (max-width: 679px) {
  main #clone .naver {
    width: 180px;
    height: 180px;
  }
}

@media all and (min-width: 680px) and (max-width: 1279px) {
  main #clone .naver {
    width: 128px;
    height: 128px;
  }
}

@media all and (min-width: 1280px) and (max-width: 1439px) {
  main #clone .naver {
    width: 190px;
    height: 190px;
  }
}

main #clone .naver.clone {
  opacity: 0;
  text-align: center;
  box-shadow: 3px 14px 30px #ddd;
  transition: all 0.5s;
}

main #clone .naver.visible {
  opacity: 1;
  transform: translateX(0);
  transition: all 0.5s;
}

main #clone .naver span {
  font-size: 30px;
  position: relative;
  margin-top: 0;
  top: 45%;
}

@media all and (max-width: 679px) {
  main #clone .naver span {
    top: 43%;
  }
}

@media all and (min-width: 680px) and (max-width: 1279px) {
  main #clone .naver span {
    top: 37%;
    margin-top: 0;
  }
}

@media all and (min-width: 1280px) and (max-width: 1439px) {
  main #clone .naver span {
    width: 135px;
  }
}

main #clone .google {
  width: 214px;
  height: 214px;
  margin: auto;
  border-radius: 50%;
  border: 5px solid #2B90D9;
  transform: matrix(1, 0, 0, 1, 0, 70);
}

@media all and (max-width: 679px) {
  main #clone .google {
    width: 180px;
    height: 180px;
  }
}

@media all and (min-width: 680px) and (max-width: 1279px) {
  main #clone .google {
    width: 128px;
    height: 128px;
  }
}

@media all and (min-width: 1280px) and (max-width: 1439px) {
  main #clone .google {
    width: 190px;
    height: 190px;
  }
}

main #clone .google.clone {
  opacity: 0;
  text-align: center;
  box-shadow: 3px 14px 30px #ddd;
  transition: all 0.5s;
}

main #clone .google.visible {
  opacity: 1;
  transform: translateX(0);
  transition: all 0.5s;
}

main #clone .google span {
  font-size: 30px;
  position: relative;
  margin-top: 0;
  top: 41%;
}

@media all and (max-width: 679px) {
  main #clone .google span {
    top: 43%;
  }
}

@media all and (min-width: 680px) and (max-width: 1279px) {
  main #clone .google span {
    top: 37%;
    margin-top: 0;
  }
}

@media all and (min-width: 1280px) and (max-width: 1439px) {
  main #clone .google span {
    width: 135px;
  }
}

main #clone .spotify {
  width: 214px;
  height: 214px;
  margin: auto;
  border-radius: 50%;
  border: 5px solid #2B90D9;
  transform: matrix(1, 0, 0, 1, 0, 100);
}

@media all and (max-width: 679px) {
  main #clone .spotify {
    width: 180px;
    height: 180px;
  }
}

@media all and (min-width: 680px) and (max-width: 1279px) {
  main #clone .spotify {
    width: 128px;
    height: 128px;
  }
}

@media all and (min-width: 1280px) and (max-width: 1439px) {
  main #clone .spotify {
    width: 190px;
    height: 190px;
  }
}

main #clone .spotify.clone {
  opacity: 0;
  text-align: center;
  box-shadow: 3px 14px 30px #ddd;
  transition: all 0.5s;
}

main #clone .spotify.visible {
  opacity: 1;
  transform: translateX(0);
  transition: all 0.5s;
}

main #clone .spotify span {
  font-size: 30px;
  position: relative;
  margin-top: 0;
  top: 41%;
}

@media all and (max-width: 679px) {
  main #clone .spotify span {
    top: 43%;
  }
}

@media all and (min-width: 680px) and (max-width: 1279px) {
  main #clone .spotify span {
    top: 37%;
    margin-top: 0;
  }
}

@media all and (min-width: 1280px) and (max-width: 1439px) {
  main #clone .spotify span {
    width: 135px;
  }
}

main #clone .small_text {
  display: block;
  width: 90%;
  margin: auto;
  margin-top: 70px;
  font-size: 14px;
  text-align: right;
  color: #777;
}

@media all and (max-width: 679px) {
  main #clone .small_text {
    width: 100%;
    font-size: 14px;
  }
}

main #contact {
  width: 100%;
  height: auto;
  padding: 50px 0;
  padding-bottom: 180px;
}

@media all and (max-width: 679px) {
  main #contact {
    padding-bottom: 110px;
  }
}

main #contact .email_border::after {
  content: '';
  width: 0;
  height: 126px;
  margin: auto;
  margin-bottom: 54px;
  border: 5px solid #2B90D9;
  align-items: center;
  display: flex;
}

main #contact ul {
  margin-bottom: 50px;
  line-height: 35px;
}

main #contact ul li {
  font-size: 15px;
  font-weight: 500;
  text-align: center;
}

@media all and (max-width: 679px) {
  main #contact ul li {
    font-size: 14px;
  }
}

@media all and (min-width: 680px) and (max-width: 1279px) {
  main #contact ul li {
    font-size: 14px;
  }
}

@media all and (min-width: 1920px) {
  main #contact ul li {
    font-size: 17px;
  }
}

main #contact .email {
  margin-top: 70px;
  text-align: center;
}

main #contact .email a {
  font-size: 62px;
  font-weight: 700;
  letter-spacing: 0.3em;
  color: #2B90D9;
}

@media all and (max-width: 679px) {
  main #contact .email a {
    font-size: 18px;
  }
}

@media all and (min-width: 680px) and (max-width: 1279px) {
  main #contact .email a {
    font-size: 42px;
  }
}

@media all and (min-width: 1920px) {
  main #contact .email a {
    font-size: 64px;
  }
}

.capyright p {
  font-size: 15px;
  font-weight: 300;
  text-align: center;
}

@media all and (max-width: 679px) {
  .capyright p {
    font-size: 14px;
  }
}

@media all and (min-width: 680px) and (max-width: 1279px) {
  .capyright p {
    font-size: 14px;
  }
}

@media all and (min-width: 1920px) {
  .capyright p {
    font-size: 17px;
  }
}
