// portfolio2.scss
/* portfolio2.css */

@import "../common/variable";
@import "../common/mixin";

// {
//   font-family: $font_family_en, $font_family_common;
// }
  #wrap {
    width: 100%;
    height: auto;
    min-height: 800px;
    margin: auto;
    background-color: $color_white;
    padding: 0 162px;
    @include mobile {
      padding: 0 10px;
    }
    @include tablet {
      padding: 34px;
    }
    @include laptop {
      padding: 0 100px;
    }
    
    /* header */
    #headBox {
      width: 100%;
      height: auto;
      position: sticky;
      top: 0;
      box-sizing: border-box;
      z-index: 1000;
      padding-top: 20px;
    }
    .headinner {
      width: 100%;
      height: 100%;
      margin: auto;
      box-sizing: border-box;
      display: flex;
      h1 {
        width: 95%;
        height: 100%;

        @include mobile {
          width: 80%;
        }

        & button {
          width: 100%;
          height: 100%;
          margin: auto;
          color: $color_point_blue;
          font-family: $font_family_en;
          font-size: map-get($map:$font_size , $key:pointtitle);
          font-weight: $font_weight_semibold;
          text-align: left;
          text-transform: uppercase;
          letter-spacing: map-get($map: $letter-spacing, $key: title);
          @include mobile {
            font-size: map-get($map: $font_size_m, $key: pointtitle);
          }
        }
      }
    }
    .unb {
      width: 5%;
      height: 52px;
      margin: auto;
      padding-top: 20px;

      @include mobile {
        width: 20%;
        height: 45px;
        padding-top: 12px;
      }
    }
    
    /* #slide_menu ------------------------------ */
    #check_box {
      display: none;

      + label {
        width: 40px;
        height: 64%;
        margin: auto;
        display: block;
        position: relative;
        z-index: 100;
        cursor: pointer;

        @include mobile {
          width: 30px;
          margin: auto 0 0 30px;
        }

        > span {
          width: 100%;
          height: 2px;
          display: block;
          position: absolute;
          transition: all 300ms;
          border-radius: 5px;
          background: $color_black;

          @include mobile {
            height: 1.5px;
          }
        }
      }
    }
    :checked + label > span:nth-child(1) {
      top: 50%;
      transform: translate(0, -50%);
      transform: rotate(45deg);
      background-color: #fff;
    }
    

    #check_box + label > span:nth-child(2) {
      top: 50%;
      transform: translate(0, -50%);
    }
    :checked + label > span:nth-child(2) {
      opacity: 0;
    }
    
    #check_box + label > span:nth-child(3) {
      bottom: 0;
    }
    :checked + label > span:nth-child(3) {
      top: 50%;
      transform: translate(0, -50%);
      transform: rotate(-45deg);
      background-color: #fff;
    }
    #check_box:checked + label + #slide_menu {
      left: 50%;

      @include mobile {
        left: 0%;
      }
    }

    /* #slide_menu ------------------------------ */
    #slide_menu {
      width: 100%;
      height: 100%;
      padding: 69px 16px 70px 16px;
      position: fixed;
      top: 0px;
      left: 100%;
      overflow: auto;
      transition: all 300ms;
      box-sizing: border-box;
      text-transform: uppercase;
      z-index: 1;
      background-color: rgba($color_point_blue, 0.9);
    }
    input[id*="slide_btn"] {
      display: none;
      + label {
        width: auto;
        display: block;
        padding: 20px;
        position: relative;
        border-bottom: $line2;
        font-family: $font_family_en;
        font-size: map-get($map: $font_size, $key: content1);
        font-weight: $font_weight_normal;
        color: $color_white;
        letter-spacing: map-get($map:$letter-spacing, $key:content);
        cursor: pointer;

        @include mobile {
        font-size: map-get($map: $font_size_m, $key: content1);
        }

        &:hover {
          background-color: $color_white;
          color: $color_black;
          font-weight: $font_weight_normal;
        }
      }
    }
  }
  /* all scroll animation */
  // .scroll {
    //   opacity: 0;
    //   transition: all .9s steps(20);
    // }
  main {
    #home{
      width: 100%;
      height: 95vh;
      margin: auto;
      padding: 83px 0 145px 0;
      position: relative;
      display:  flex;
      justify-content: center;
      align-items: center;

      @include mobile {
        gap: 10px;
        flex-wrap: wrap;
        padding: 83px 0 100px 0;
      }
      
      & h2 {
        font-size: map-get($map: $font_size, $key: pointtitle);
        font-weight: $font_weight_normal;
        letter-spacing: map-get($map: $letter-spacing, $key: title);
        text-transform: uppercase;
        text-align: center;
        @include mobile {
          font-size: map-get($map: $font_size_m, $key: pointtitle);
        }
        @include tablet {
          font-size: map-get($map: $font_size_m, $key: pointtitle);
        }
        @include pcfull {
          font-size: map-get($map: $font_size_pcFull, $key: pointtitle);
        }
      }
      & img {
        display: block;
        margin: auto;
        width: 21.8056%;

        @include mobile {
          width: 49%;
        }
      }
      & p {
        font-size: map-get($map: $font_size, $key: pointtitle);
        font-weight: $font_weight_normal;
        letter-spacing: map-get($map: $letter-spacing, $key: content);
        text-align: center;
        @include mobile {
          font-size: map-get($map: $font_size_m, $key: pointtitle);
        }
        @include tablet {
          font-size: map-get($map: $font_size_m, $key: pointtitle);
        }
        @include pcfull {
          font-size: map-get($map: $font_size_pcFull, $key: pointtitle);
        }
        
        span {
          color: $color_point_blue;
        }
      }
    }
    #about {
      @include sectionBasic;
      
      & h3 {
        @include h3;
        @include mobile {
          @include h3_m;
        }
        @include tablet {
          font-size: map-get($map: $font_size_m, $key: title);
        }
        @include pcfull {
          font-size: map-get($map: $font_size_pcFull, $key: title);
        }
      }
      & .about_inner{
        display: flex;
        flex-wrap: nowrap;

        @include mobile {
          flex-wrap: wrap;
        }
      }
      & .about_left {
        width: 48%;
        height: auto;
        margin-right: 12%;
        display: flex;
        flex-wrap: wrap;

        @include mobile {
          width: 100%;
          margin-right: 0;
        }
        @include tablet {
          width: 54%;
          margin-right: 6%;
        }
        
        & .aspiration {
          width: 100%;
          height: auto;
          margin-bottom: 20px;
          @include tablet {
          margin-bottom: 10px;
          }

          & p {
            width: 100%;
            font-size: map-get($map: $font_size, $key: pointtitle);
            font-weight: $font_weight_normal;
            color: $color_point_blue;
            letter-spacing: map-get($map: $letter-spacing, $key: content_kr);
            @include mobile {
              font-size: map-get($map: $font_size_m, $key: pointtitle);
            }
            @include tablet {
              font-size: map-get($map: $font_size_m, $key: pointtitle);
            }
            @include pcfull {
              font-size: map-get($map: $font_size_pcFull, $key: pointtitle);
            }
          }
        }
        & .introduce {
          width: 100%;
        }
        & span {
          font-size: map-get($map: $font_size, $key: content1);
          font-weight: $font_weight_thin;
          color: $color_black;
          letter-spacing: map-get($map: $letter-spacing, $key: content_kr);

          @include mobile {
            font-size: map-get($map: $font_size_m, $key: content1);
          }
          @include tablet {
            font-size: map-get($map: $font_size_m, $key: content1);
          }
          @include pcfull {
            font-size: map-get($map: $font_size_pcFull, $key: content1);
          }
        }
      }
      & .about_right_inner {
        @include mobile {
          flex-wrap: wrap-reverse;
        }
      }
      & .about_right {
        width: 40%;
        height: auto;
        margin-top: 60px;
        display: flex;
        flex-wrap: wrap;

        @include mobile {
          width: 100%;
          margin-top: 30px;
        }
        @include tablet {
          margin-top: 41px;
        }
        
        & .name {
          width: 100%;
          height: auto;
          
          & p {
            font-size: map-get($map: $font_size, $key: content1);
            font-weight: $font_weight_bold;
            line-height: 22px;
            letter-spacing: map-get($map: $letter-spacing, $key: content);
            color: $color_point_blue;
            @include mobile {
              font-size: map-get($map: $font_size_m, $key: content1);
            }
            @include pcfull {
              font-size: map-get($map: $font_size_pcFull, $key: content1);
            }
          
          & span {
            font-size: map-get($map: $font_size, $key: content1);
            font-weight: $font_weight_thin;
            letter-spacing: map-get($map: $letter-spacing, $key: content);
            color: $color_black;
            @include mobile {
              font-size: map-get($map: $font_size_m, $key: content1);
            }
            @include tablet {
              font-size: map-get($map: $font_size_m, $key: content1);
            }
            @include pcfull {
              font-size: map-get($map: $font_size_pcFull, $key: content1);
            }
          }
        }
      }
      
      & .eduction {
        width: 100%;
        height: auto;
        margin-top: 26px;

        @include mobile {
          margin-top: 20px;
        }
        @include tablet {
          margin-top: 0;
        }
        
        & span {
          font-size: map-get($map: $font_size, $key: pointtitle);
          font-weight: $font_weight_bold;
          line-height: 22px;
          letter-spacing: map-get($map: $letter-spacing, $key: content_kr);
          color: $color_point_blue;

          @include mobile {
            font-size: map-get($map: $font_size_m, $key: pointtitle);
          }
          @include tablet {
            font-size: map-get($map: $font_size_m, $key: pointtitle);
          }
          @include pcfull {
            font-size: map-get($map: $font_size_pcFull, $key: pointtitle);
          }
        }
        & p {
          font-size: map-get($map: $font_size, $key: content1);
          font-weight: $font_weight_thin;
          letter-spacing: map-get($map: $letter-spacing, $key: content_kr);
          color: $color_black;

          @include mobile {
            font-size: map-get($map: $font_size_m, $key: content1);
          }
          @include tablet {
            font-size: map-get($map: $font_size_m, $key: content1);
          }
          @include pcfull {
            font-size: map-get($map: $font_size_pcFull, $key: content1);
          }
        }
      }
    }
    & .about_button {
      width: 42%;
      height: 30px;
      margin-top: 26px;
      display: flex;
      line-height: 35px;

      @include mobile {
        width: 63%;
        height: 35px;
        margin: auto;
        margin-top: 26px;
      }
      @include tablet {
        width: 60%;
        height: 35px;
        margin-top: 0;
      }
      
      & a:nth-child(1) {
        width: 82px;
        height: 100%;
        margin-right: 15px;
        background-color: $color_point_blue;
        border-radius: 20px;
        font-size: map-get($map: $font_size, $key: content1);
        font-weight: $font_weight_normal;
        letter-spacing: map-get($map: $letter-spacing, $key: content_kr);
        color: $color_white;
        text-align: center;
        line-height: 30px;


        @include mobile {
          font-size: map-get($map: $font_size_m, $key: content1);
          line-height: 35px;
        }
        @include tablet {
          font-size: map-get($map: $font_size_m, $key: content1);
          line-height: 35px;
        }
        @include pcfull {
          font-size: map-get($map: $font_size_pcFull, $key: content1);
        }
        
        &:hover {
          width: 78px;
          height: 30px;
          color: $color_black;
          background-color: $color_white;
          border: $line3;
        }
      }
      
      & a:nth-child(2) {
        width: 94px;
        height: 100%;
        background-color: $color_point_blue;
        border-radius: 20px;
        font-size: map-get($map: $font_size, $key: content1);
        font-weight: $font_weight_normal;
        letter-spacing: map-get($map: $letter-spacing, $key: content_kr);
        color: $color_white;
        text-align: center;
        line-height: 30px;

        @include mobile {
          font-size: map-get($map: $font_size_m, $key: content1);
          line-height: 35px;
        }
        @include tablet {
          font-size: map-get($map: $font_size_m, $key: content1);
          line-height: 35px;
        }
        @include pcfull {
          font-size: map-get($map: $font_size_pcFull, $key: content1);
        }
        
        &:hover {
          width: 90px;
          height: 30px;
          color: $color_black;
          background-color: $color_white;
          border: $line3;
        }
      }
    }
  }
  #banner {
    width: 100%;
    height: auto;
    margin: auto;
    overflow: hidden;

    @keyframes marquee {
      0% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
      }
      100% {
        -webkit-transform: translate3d(-224%, 0, 0);
        transform: translate3d(-224%, 0, 0);
      }
    }
    
    p {
      white-space: nowrap;
      will-change: transform;
      animation: marquee 20s linear infinite;
      width: 100%;
      padding: 1rem;
      position: relative;
      display: -webkit-box;
      display: flex;
      // -webkit-box-orient: vertical;
      // -webkit-box-direction: normal;
      flex-direction: column;
      -webkit-box-align: center;
      align-items: center;
      // -webkit-transition: -webkit-transform var(--d) var(--e);
      // transition: -webkit-transform var(--d) var(--e);
      // transition: transform var(--d) var(--e);
      // transition: transform var(--d) var(--e),-webkit-transform var(--d) var(--e);
      z-index: 1;
      font-family: $font_family_en, $font_family_common;
      font-size: map-get($map: $font_size, $key: banner);
      font-weight: $font_weight_bolder;
      text-transform: uppercase;
      color: $color_white;
      text-shadow: -3px 0 $color_point_blue, 0 3px $color_point_blue, 3px 0 $color_point_blue,
      0 -3px $color_point_blue;
      letter-spacing: map-get($map: $letter-spacing, $key: content);

      @include mobile {
        font-size: map-get($map: $font_size_m, $key: banner);
      }
      @include tablet {
        font-size: map-get($map: $font_size_m, $key: banner);
      }
      
      &:hover{
        animation-play-state: paused;
        cursor: default;
      }
    }
  }
  #advantage {
    @include sectionBasic;
    
    & .advantage_inner {
      display: flex;

      @include mobile {
        flex-wrap: wrap;
      }
      
      & .advantage_left {
        width: 40%;
        height: auto;
        margin-right: 4%;

        @include mobile {
          width: 100%;
          margin: auto;
        }
        
        & h3 {
          margin-top: 20px;
          margin-right: 60px;
          font-size: map-get($map: $font_size, $key: title);
          font-weight: $font_weight_bold;
          text-align: right;
          letter-spacing: map-get($map: $letter-spacing, $key: content_kr);
          color: $color_point_blue;

          @include mobile {
            @include h3_m;
          }
          @include tablet {
            font-size: map-get($map: $font_size_m, $key: title);
          }
          @include pcfull {
            margin: auto 0;
            text-align: center;
            font-size: map-get($map: $font_size_pcFull, $key: title);
          }
        }
        
        & .advantage_3d {
          width: 44.804%;
          height: 47.15%;
          margin: 150px;


          @include mobile {
            display: none;
          }
          @include tablet {
            margin: 190px 90px;
          }
          @include pcfull {
            margin: 150px auto 0 auto;
          }
          @include img ($advantageImg)
        }
      }
      & .advantage_right {
        width: 56%;
        height: auto;
        display: flex;
        flex-wrap: wrap;

        @include mobile {
          width: 100%;
        }
        
        & .Aright_inner {
          margin-top: 20px;
          & p {
            font-size: map-get($map: $font_size, $key: pointtitle);
            font-weight: $font_weight_bold;
            text-transform: capitalize;

            @include mobile {
              font-size: map-get($map: $font_size_m, $key: pointtitle);
            }
            @include tablet {
              font-size: map-get($map: $font_size_m, $key: pointtitle);
            }
            @include pcfull {
              font-size: map-get($map: $font_size_pcFull, $key: pointtitle);
            }
          }
          & span {
            font-size: map-get($map: $font_size, $key: content1);
            font-weight: $font_weight_thin;
            letter-spacing: map-get($map: $letter-spacing, $key: content_kr);

            @include mobile {
              font-size: map-get($map: $font_size_m, $key: content1);
            }
            @include tablet {
              font-size: map-get($map: $font_size_m, $key: content1);
            }
            @include pcfull {
              font-size: map-get($map: $font_size_pcFull, $key: content1);
            }
          }
        }
      }
      &::before {
        content: '';
        border: $line1;
        position: relative;
        left: 39%;

        @include mobile {
          display: none;
        }
      }
    }
  }
  #skill {
    @include sectionBasic;
    
    & h3 {
      @include h3;

      @include mobile {
        @include h3_m;
      }
      @include tablet {
        font-size: map-get($map: $font_size_m, $key: title);
      }
      @include pcfull {
        font-size: map-get($map: $font_size_pcFull, $key: title);
      }
    }
    
    & .charts {
      width: 100%;
      display: flex;
      justify-content: center;

      @include mobile {
        flex-wrap: wrap;
      }
      
      & .chart {
        width: 100%;
        position: relative;

        @include mobile {
          width: 100%;
        }
        
        & h4 {
          font-size: map-get($map: $font_size, $key: content1);
          position: absolute;
          top: 113px;
          left: 75px;
          transform: translate(-50%, -50%);

          @include mobile {
            font-size: map-get($map: $font_size_m, $key: content1);
            top: 81px;
            left: 49px;
          }
          @include tablet {
            font-size: map-get($map: $font_size_m, $key: content1);
            top: 91px;
            left: 57px;
          }
        }
        
        & .svg_img {
          width: 64px;
          height: 64px;
          position: absolute;
          top: 31px;
          left: 42px;
          
          @include mobile {
            width: 50px;
            height: 50px;
            top: 21px;
            left: 24px;
          }
          @include tablet {
            width: 50px;
            height: 50px;
            top: 30px;
            left: 33px;
          }
        }
        & svg {
          width: 150px;
          height: 150px;

          @include mobile {
            width: 100px;
            height: 100px;
          }
          @include tablet {
            width: 120px;
            height: 120px;
          }
          
          & circle {
            fill: #dedede;
            stroke-width: 20;
            stroke-dasharray: 409;
            stroke-dashoffset: 409;
            animation: line 2s forwards;
            transform: rotate(-90deg);
            transform-origin: 50% 50%;
            stroke-linecap: round;
            cx: 75;
            cy: 75;
            r: 65;
            
            @include mobile {
              stroke-width: 10;
              stroke-dasharray: 290;
              stroke-dashoffset: 290;
              cx: 50; 
              cy: 50;
              r: 44;
            }
            @include tablet {
              stroke-width: 10;
              stroke-dasharray: 325;
              stroke-dashoffset: 325;
              cx: 60; 
              cy: 60;
              r: 50;
            }
          }
        }
      }
      & .charts_inner1 {
        width: 17%;
        display: grid;
        gap: 15px;

        @include mobile {
          width: 40%;
          padding: 0 10px;
        }
        
        & .chart:nth-child(1) circle {
          stroke: $color_html;
        }
        & .chart:nth-child(2) circle {
          stroke: $color_css;
        }
        & .chart:nth-child(3) circle {
          stroke: $color_sass;
        }
        & .chart:nth-child(4) circle {
          stroke: $color_javascript;
        }
      }
      
      & .chart_text1, .chart_text2 {
        width: 33%;
        display: grid;
        gap: 15px;

        @include mobile {
          width: 60%;
        }
        
        & .chart_text {
          margin: 20px;
          line-height: 30px;

          @include mobile {
            margin: 10px;
          }
        }
        
        & p {
          font-size: map-get($map: $font_size, $key: content1);
          font-weight: $font_weight_thin;
          letter-spacing: map-get($map: $letter-spacing, $key: content_kr);

          @include mobile {
            font-size: map-get($map: $font_size_m, $key: content1);
          }
          @include tablet {
            font-size: map-get($map: $font_size_m, $key: content1);
          }
          @include pcfull {
            font-size: map-get($map: $font_size_pcFull, $key: content1);
          }
        }
        & p:nth-child(1) {
          font-size: map-get($map: $font_size, $key: pointtitle);
          font-weight: $font_weight_normal;
          letter-spacing: map-get($map: $letter-spacing, $key: content_kr);
          color: $color_point_blue;

          @include mobile {
            font-size: map-get($map: $font_size_m, $key: pointtitle);
          }
          @include tablet {
            font-size: map-get($map: $font_size_m, $key: pointtitle);
          }
          @include pcfull {
            font-size: map-get($map: $font_size_pcFull, $key: pointtitle);
          }
        }
      }
      & .charts_inner2 {
        width: 17%;
        display: grid;
        gap: 15px;

        @include mobile {
          width: 40%;
          padding: 0 10px;
        }
        
        & .chart:nth-child(1) circle {
          stroke: $color_figma;
        }
        & .chart:nth-child(2) circle {
          stroke: $color_react;
        }
        & .chart:nth-child(3) circle {
          stroke: $color_github;
        }
      }
      .chart_bin {
        width: 78.95%;
        height: 150px;

        @include mobile {
          height: 0;
        }
      }
      .chart_text_bin {
        height: 150px;
        border: $line2;

        @include mobile {
          height: 0;
        }
      }
    }
  }
  #project {
    @include sectionBasic;
    
    & h3 {
      @include h3;
      @include mobile {
        @include h3_m;
      }
      @include tablet {
        font-size: map-get($map: $font_size_m, $key: title);
      }
      @include pcfull {
        font-size: map-get($map: $font_size_pcFull, $key: title);
      }
    }
    
    & .project_inner {
      display: flex;
      flex-wrap: wrap;

      // @include mobile {
      //   display: none;
      // }
      
      & .project_text {
        width: 56%;
        transform: matrix(1, 0, 0, 1, 30, 0);

        @include mobile {
          width: 100%;
          margin: 10px auto;
        }
        @include pcfull {
          margin: auto 0;
        }
        
        &.project {
          opacity: 0;
          transition: all 0.5s;
        }
        &.visible {
          opacity: 1;
          transform: translateX(0);
          transition: all 0.5s;
        }
        
        & p {
          width: 100%;
          height: auto;
        }
        :nth-child(1) {
          font-size: map-get($map: $font_size, $key: pointtitle);
          font-weight: $font_weight_bold;
          letter-spacing: map-get($map: $letter-spacing, $key: content);

          @include mobile {
            font-size: map-get($map: $font_size_m, $key: pointtitle);
          }
          @include tablet {
            font-size: map-get($map: $font_size_m, $key: pointtitle);
          }
          @include pcfull {
            font-size: map-get($map: $font_size_pcFull, $key: pointtitle);
          }
        }
        :nth-child(2) {
          line-height: 24px;
          font-size: map-get($map: $font_size, $key: content1);
          font-weight: $font_weight_thin;
          letter-spacing: map-get($map: $letter-spacing, $key: content);

          @include mobile {
            font-size: map-get($map: $font_size_m, $key: content1);
          }
          @include tablet {
            font-size: map-get($map: $font_size_m, $key: content1);
          }
          @include pcfull {
            font-size: map-get($map: $font_size_pcFull, $key: content1);
          }
        }
        :nth-child(3) {
          margin-top: 15px;
          font-size: map-get($map: $font_size, $key: content1);
          font-weight: $font_weight_thin;
          letter-spacing: map-get($map: $letter-spacing, $key: content_kr);

          @include mobile {
            font-size: map-get($map: $font_size_m, $key: content1);
          }
          @include tablet {
            font-size: map-get($map: $font_size_m, $key: content1);
          }
          @include pcfull {
            font-size: map-get($map: $font_size_pcFull, $key: content1);
          }
        }
      }
      & button {
        width: 86px;
        height: 30px;
        margin-top: 40px;
        font-size: map-get($map: $font_size, $key: content1);
        font-weight: $font_weight_normal;
        color: $color_white;
        border-radius: 20px;
        background-color: $color_point_blue;

        @include mobile {
          position: relative;
          left: 13%;
          margin-top: 10px;
          font-size: map-get($map: $font_size_m, $key: content1);
        }
        @include tablet {
          margin-top: 10px;
          font-size: map-get($map: $font_size_m, $key: content1);
        }
        @include pcfull {
          font-size: map-get($map: $font_size_pcFull, $key: content1);
        }
        
        &:hover {
          color: $color_black;
          background-color: $color_white;
          border: $line3;
        }
      }
    }
    & .ohou {
      @include project_flex;
      margin-top: 0;

      @include mobile {
        height: auto;
        flex-wrap: wrap;
        padding: 30px;
      }
      @include tablet {
        height: 37vh;
        padding: 0;
      }
      @include pcfull {
        height: 40vh;
      }
      
      & .device_img {
        @include device_img;
        @include img(nth($projectImg, 1));
        transform: matrix(1,0,0,1,-200,0);
        
        @include mobile {
          width: 100%;
          height: 35vh;
          margin-right: 0;
        }
        
        &.project {
          opacity: 0;
          text-align: center;
          transition: all 1s;
        }
        &.visible {
          opacity: 1;
          transform: translateX(0);
          transition: all 1s;
        }
      }
    }
    & .ediya {
      @include project_flex;

      @include mobile {
        height: auto;
        flex-wrap: wrap;
        padding: 30px;
      }
      @include tablet {
        height: 37vh;
        margin-top: 50px;
        padding: 0;
      }
      @include pcfull {
        height: 40vh;
      }
      
      & .device_img {
        @include device_img;
        @include img(nth($projectImg, 2));
        transform: matrix(1,0,0,1,-200,0);

        @include mobile {
          width: 100%;
          height: 35vh;
          margin-right: 0;
        }
        
        &.project {
          opacity: 0;
          text-align: center;
          transition: all 1s;
        }
        &.visible {
          opacity: 1;
          transform: translateX(0);
          transition: all 1s;
        }
      }
    }
    & .portfolio1 {
      @include project_flex;

      @include mobile {
        height: auto;
        flex-wrap: wrap;
        padding: 30px;
      }
      @include tablet {
        height: 37vh;
        margin-top: 50px;
        padding: 0;
      }
      @include pcfull {
        height: 40vh;
      }
      
      & .device_img {
        @include device_img;
        @include img(nth($projectImg, 3));
        transform: matrix(1,0,0,1,-200,0);

        @include mobile {
          width: 100%;
          height: 35vh;
          margin-right: 0;
        }
        
        &.project {
          opacity: 0;
          text-align: center;
          transition: all 1s;
        }
        &.visible {
          opacity: 1;
          transform: translateX(0);
          transition: all 1s;
        }
      }
    }
    & .interactive {
      @include project_flex;

      @include mobile {
        height: auto;
        flex-wrap: wrap;
        padding: 30px;
      }
      @include tablet {
        height: 37vh;
        margin-top: 50px;
        padding: 0;
      }
      @include pcfull {
        height: 40vh;
      }
      
      & .device_img {
        width: 27.756%;
        height: 100%;
        margin: auto;
        margin-right: 146px;
        @include img(nth($projectImg, 4));
        transform: matrix(1,0,0,1,-200,0);

        @include mobile {
          width: 100%;
          height: 35vh;
          margin-right: 0;
        }
        
        &.project {
          opacity: 0;
          text-align: center;
          transition: all 1s;
        }
        &.visible {
          opacity: 1;
          transform: translateX(0);
          transition: all 1s;
        }
      }
    }
    & .portfolio2 {
      @include project_flex;

      @include mobile {
        height: auto;
        flex-wrap: wrap;
        padding: 30px;
      }
      @include tablet {
        height: 37vh;
        margin-top: 50px;
        padding: 0;
      }
      @include pcfull {
        height: 40vh;
      }
      
      & .device_img {
        @include device_img;
        @include img(nth($projectImg, 1));
        transform: matrix(1,0,0,1,-100,0);

        @include mobile {
          width: 100%;
          height: 35vh;
          margin-right: 0;
        }
        
        &.project {
          opacity: 0;
          text-align: center;
          transition: all 1s;
        }
        &.visible {
          opacity: 1;
          transform: translateX(0);
          transition: all 1s;
        }
      }
    }
  }
  #clone {
    @include sectionBasic;
    
    & h3 {
      @include h3;

      @include mobile {
        @include h3_m;
      }
      @include tablet {
        font-size: map-get($map: $font_size_m, $key: title);
      }
      @include pcfull {
        font-size: map-get($map: $font_size_pcFull, $key: title);
      }
    }
    
    & .clone_inner {
      width: 100%;
      height: auto;
      display: grid;
      grid-auto-flow: column;
      grid-gap: 90px;

      @include mobile {
        grid-auto-flow: inherit;
      }
      @include tablet {
        grid-gap: 0;
      }
    }
    & a {
      width: 100%;
      height: 100%;
      display: block;
      
      &:hover {
        width: 100%;
        height: 100%;
        position: relative;
        color: $color_black;
        box-shadow: inset -3px 3px 20px rgba($color_point_blue, 0.6);
        border-radius: 50%;
      }
    }
    & p {
      margin-top: 42px;
      font-size: map-get($map: $font_size, $key: content1);
      @include tablet {
        font-size: map-get($map: $font_size_m, $key: content1);
      }
      @include pcfull {
        font-size: map-get($map: $font_size_pcFull, $key: content1);
      }
      font-weight: $font_weight_thin;
      text-align: center;
    }
    & span {
      margin-top: 20px;
      display: block;
      font-size: map-get($map: $font_size, $key: pointtitle);
      font-weight: $font_weight_semibold;
      text-align: center;
      color: $color_point_blue;

      @include tablet {
        font-size: map-get($map: $font_size_m, $key: pointtitle);
      }
      @include pcfull {
        font-size: map-get($map: $font_size_pcFull, $key: pointtitle);
      }
    }
    
    & .coupang {
      width: 214px;
      height: 214px;
      margin: auto;
      border-radius: 50%;
      border: $line4;
      transform: matrix(1,0,0,1,0,10);

      @include mobile {
        width: 180px;
        height: 180px;
      }
      @include tablet {
        width: 128px;
        height: 128px;
      }
      @include laptop {
        width: 190px;
        height: 190px;
      }
      
      &.clone {
        opacity: 0;
        text-align: center;
        box-shadow: 3px 14px 30px #ddd;
        transition: all 0.5s;
      }
      &.visible {
        opacity: 1;
        transform: translateX(0);
        transition: all 0.5s;
      }
      
      
      & span {
        @include cloneImg;
        top: 45%;
        margin-top: 0;

        @include mobile {
          top: 43%;
        }
        @include tablet {
          top: 37%;
          margin-top: 0;
        }
        @include laptop {
          width: 135px;
        }
      }
    }
    & .naver {
      width: 214px;
      height: 214px;
      margin: auto;
      border-radius: 50%;
      border: $line4;
      transform: matrix(1,0,0,1,0,40);

      @include mobile {
        width: 180px;
        height: 180px;
      }
      @include tablet {
        width: 128px;
        height: 128px;
      }
      @include laptop {
        width: 190px;
        height: 190px;
      }
      
      &.clone {
        opacity: 0;
        text-align: center;
        box-shadow: 3px 14px 30px #ddd;
        transition: all 0.5s;
      }
      &.visible {
        opacity: 1;
        transform: translateX(0);
        transition: all 0.5s;
      }
      
      & span {
        @include cloneImg;
        margin-top: 0;
        top: 45%;

        @include mobile {
          top: 43%;
        }
        @include tablet {
          top: 37%;
          margin-top: 0;
        }
        @include laptop {
          width: 135px;
        }
      }
    }
    & .google {
      width: 214px;
      height: 214px;
      margin: auto;
      border-radius: 50%;
      border: $line4;
      transform: matrix(1,0,0,1,0,70);
      
      @include mobile {
        width: 180px;
        height: 180px;
      }
      @include tablet {
        width: 128px;
        height: 128px;
      }
      @include laptop {
        width: 190px;
        height: 190px;
      }
      
      &.clone {
        opacity: 0;
        text-align: center;
        box-shadow: 3px 14px 30px #ddd;
        transition: all 0.5s;
      }
      &.visible {
        opacity: 1;
        transform: translateX(0);
        transition: all 0.5s;
      }
      
      & span {
        @include cloneImg;
        margin-top: 0;
        top: 41%;

        @include mobile {
          top: 43%;
        }
        @include tablet {
          top: 37%;
          margin-top: 0;
        }
        @include laptop {
          width: 135px;
        }
      }
    }
    & .spotify {
      width: 214px;
      height: 214px;
      margin: auto;
      border-radius: 50%;
      border: $line4;
      transform: matrix(1,0,0,1,0,100);

      @include mobile {
        width: 180px;
        height: 180px;
      }
      @include tablet {
        width: 128px;
        height: 128px;
      }
      @include laptop {
        width: 190px;
        height: 190px;
      }
      
      &.clone {
        opacity: 0;
        text-align: center;
        box-shadow: 3px 14px 30px #ddd;
        transition: all 0.5s;
      }
      &.visible {
        opacity: 1;
        transform: translateX(0);
        transition: all 0.5s;
      }
      
      & span {
        @include cloneImg;
        margin-top: 0;
        top: 41%;

        @include mobile {
          top: 43%;
        }
        @include tablet {
          top: 37%;
          margin-top: 0;
        }
        @include laptop {
          width: 135px;
        }
      }
    }
    & .small_text {
      display: block;
      width: 90%;
      margin: auto;
      margin-top: 70px;
      font-size: 14px;
      text-align: right;
      color: #777;

      @include mobile {
        width: 100%;
        font-size: map-get($map: $font_size_m, $key: content1);
      }
    }
  }
  
  #contact {
    @include sectionBasic;
    padding-bottom: 180px;

    @include mobile {
      padding-bottom: 110px;
    }
    
    & .email_border::after {
      content: '';
      width: 0;
      height: 126px;
      margin: auto;
      margin-bottom: 54px;
      border: $line4;
      align-items: center;
      display: flex;
    }
    
    & ul {
      margin-bottom: 50px;
      line-height: 35px;
      
      & li {
        font-size: map-get($map: $font_size, $key: content1);
        font-weight: $font_weight_normal;
        text-align: center;

        @include mobile {
          font-size: map-get($map: $font_size_m, $key: content1);
        }
        @include tablet {
          font-size: map-get($map: $font_size_m, $key: content1);
        }
        @include pcfull {
          font-size: map-get($map: $font_size_pcFull, $key: content1);
        }
      }
    }
    & .email {
      margin-top: 70px;
      text-align: center;
      
      & a {
        font-size: map-get($map: $font_size, $key: contactemail);
        font-weight: $font_weight_bold;
        letter-spacing: map-get($map: $letter-spacing, $key: content);
        color: $color_point_blue;

        @include mobile {
          font-size: 18px;
        }
        @include tablet {
          font-size: map-get($map: $font_size_m, $key: contactemail);
        }
        @include pcfull {
          font-size: map-get($map: $font_size_pcFull, $key: contactemail);
        }
      }
    }
  }
}
.capyright p {
  font-size: map-get($map: $font_size, $key: content1);
  font-weight: 300;
  text-align: center;

  @include mobile {
    font-size: map-get($map: $font_size_m, $key: content1);
  }
  @include tablet {
    font-size: map-get($map: $font_size_m, $key: content1);
  }
  @include pcfull {
    font-size: map-get($map: $font_size_pcFull, $key: content1);
  }
}
